.accordion .panel-group{
  margin-top: 20px;
}
.accordion .panel-heading{
  background-color: #f8f9fb !important;
  border-radius: 0;
  background-image: none;
}
.accordion .accordion-toggle {
  display: block;
  box-sizing: border-box;
  padding: 15px 30px;
  text-decoration: none;
  font-family: "SegoeUISemiBold", Verdana, sans-serif;
  color: #333;
}
.accordion .panel>.panel {
  border: none;
}
.accordion .panel-body {
  padding: 15px 30px;
}