.advantages {
  background-color: white;//#ccdceb;
  height: 100px;
  margin-top: 2em;
}
@media all and (min-width: $sm-size) {
  .advantages {
    height: 60px;
  }

}
.advantages__wrapper {
  width: 80%;
  margin: 0 auto;
}
.advantages__item {
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center;
  line-height:1;
  height: 60px;
  box-sizing: border-box;
}
.advantages__image {
  position: relative;
  width: 60px;
}
.advantages__title {
  margin-bottom: 0;
  font-family: "SegoeUISemiBold", Verdana, sans-serif;
}
@media all and (min-width: $sm-size) {
  .advantages {
    background-color: transparent;

    margin-top: 2.5em;
    margin-bottom: 2.5em;
  }
  .advantages__item {
    background-color: white;//#ccdceb;
  }
  .advantages__text {
    display: inline-block;
    font-size: 14px;
    height: 60px;
    text-align:right;
    &>* {
      position: relative;
      top: 12px;
    }
  }
  .advantages__image {
    width: auto;
    height: 100%;
    margin-right: 15px;
  }
}


@media all and (min-width: $lg-size) {
  .advantages {

    height:60px;
  }
  .advantages__wrapper {
    width: 60%;
    margin: 0 auto;
  }
  .advantages__item {
    border-right: 1px solid #92adca;
    &:last-child {
      border-right: none;
    }
  }
  .advantages__list {
    height: 60px;
    background-color: white;//#ccdceb;
    box-sizing: border-box;
  }
  .advantages__text {
    font-size: 20px;

    &>* {
      top: 5px;
    }
  }
  .advantages__image {
    margin-right: 10px;
    top: -10px;
  }
}
@media all and (max-width: 1300px) {
  .advantages__item {
    border: none;
  }
}
