.btn {
  background-image: none;
  border: none;
  outline: none !important;
  background-color: $mainColor;
}
.btn-warning {
  -webkit-box-shadow: 0 2px 0 $orangeDark;
  -moz-box-shadow: 0 2px 0 $orangeDark;
  box-shadow: 0 2px 0 $orangeDark;
  background-color: $orange;
}
.btn-primary {
  -webkit-box-shadow: 0 2px 0 $mainDark;
  -moz-box-shadow: 0 2px 0 $mainDark;
  box-shadow: 0 2px 0 $mainDark;
}
.btn-warning:hover,  .btn-warning:focus, .btn-warning:active {
  background-color: $orangeHover !important;
  -webkit-box-shadow: 0 2px 0 $orangeDark !important;
  -moz-box-shadow: 0 2px 0 $orangeDark !important;
  box-shadow: 0 2px 0 $orangeDark !important;

}
.btn-primary:hover,  .btn-primary:focus, .btn-primary:active {
  background-color: $mainColorHover !important;
  -webkit-box-shadow: 0 2px 0 $mainDark;
  -moz-box-shadow: 0 2px 0 $mainDark;
  box-shadow: 0 2px 0 $mainDark;
}
.btn-reverse {
  -webkit-appearance: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  padding: 6px 12px;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-repeat: no-repeat;
  line-height: 1.5;
  background-color: transparent;
  border: thin solid $mainColor;
  color: $mainColor;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 14px;
}
.btn-reverse:hover {
  background-color: $mainColorHover;
  color: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}