.btn {
  background-image: none;
  border: none;
  outline: none !important;
  background-color: $mainColor;
}
.btn-warning {
  -webkit-box-shadow: 0 2px 0 $orangeDark;
  -moz-box-shadow: 0 2px 0 $orangeDark;
  box-shadow: 0 2px 0 $orangeDark;
  background-color: $orange;
}
.btn-primary {
  -webkit-box-shadow: 0 2px 0 $mainDark;
  -moz-box-shadow: 0 2px 0 $mainDark;
  box-shadow: 0 2px 0 $mainDark;
}
.btn-warning:hover,  .btn-warning:focus, .btn-warning:active {
  background-color: $orangeHover !important;
  -webkit-box-shadow: 0 2px 0 $orangeDark !important;
  -moz-box-shadow: 0 2px 0 $orangeDark !important;
  box-shadow: 0 2px 0 $orangeDark !important;

}
.btn-primary:hover,  .btn-primary:focus, .btn-primary:active {
  background-color: $mainColorHover !important;
  -webkit-box-shadow: 0 2px 0 $mainDark;
  -moz-box-shadow: 0 2px 0 $mainDark;
  box-shadow: 0 2px 0 $mainDark;
}