
.description {
  min-width: 300px;
  width: 50%;
  margin: 2em auto 0;
}
@media all and (min-width: $sm-size) {
  .description {
    width: 100%;
  }
}
.description__logo {

  max-width: 100%;
}
.description__image-block {
  position: relative;
  text-align: center;
  margin-top: 2em;
}
.description__image {
  width: 60%;
  margin: 2em 0;
}
.description__season {
  position: absolute;
  top: 0;
  right:10px;
}
.description__banner {
  position: absolute;
  top: -3px;
  left: -3px;
}
.description__controls {
  border-bottom: 1px solid $gray;
  padding-bottom: 2em;

}
.description__controls:first-child {
  margin-top: 2em;
}
@media all and (min-width: $sm-size) {
  .description__controls:first-child {
    margin-top: 0;
  }
}
.description__list {
  margin-top: 1em;
  padding: 0;
  list-style-image: url(images/arrow.png);
  li {
    margin-left: 25px;
  }
}
.description__preview {
  padding-top: 1em;
}