.footer {
  border-top: 1px solid $gray;
  padding: 1em 0;
  padding-bottom: 44px;
}
.footer__subtitle {
  margin-top: 0;
  margin-bottom: 1em;
  &>a {
    color: black;
    font-size: 110%;
  }
}
.footer__text {
  color: #999;
  display: block;
  padding: 10px 30px;
  text-align: center;
}
.footer__social {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url("images/vk.png") no-repeat;
  background-size: 100%
}
.footer__social:hover {
  background-image: url("images/vk-active.png");
}
.footer__social_fb {
  background-image: url("images/fb.png");
  &:hover {
    background-image: url("images/fb-active.png");
  }
}
.footer__socials {

}