.header {
  position: fixed;
  width: 100%;
  z-index: 200;
}
.header-top {
  height: 45px;
  position: relative;
  z-index: 100;
  background-image: none !important;
}
@media (max-width: 991px) and (min-width: 768px) {
  .header-top {
    height: 36px;
  }
  .header-top__phone-me {
    padding-top: 0px;
  }

}
@media all and (min-width: 992px) {
  .header-top {
    height: 36px;
  }
}

.header-top__phone-me {
  line-height: 1.5;
  vertical-align: baseline;
  color: $mainColor;
  font-family: "SegoeUISemiBold";
  &:focus {
    outline: none !important;
  }
  display: inline-block;
  img {
    margin-top: -3px;
    margin-right: 5px;
  }
}
.header-top__phones {
  float: right;
  position: relative;
}
@media all and (min-width: $sm-size) {
  .header-top__phones {
    float: none;
  }

}
.header-top__schedule {
  position: relative;

}
.header-top__schedule-wrapper {
  line-height: 1.5;
  img {
    margin-top: -3px;
    margin-right: 5px;
  }
  small {

  }
}
.header-top__phone_main {
  font-size: 110%;

}
@media all and (min-width: 756px) {
  .header-top__phone_main {
    position: relative;
  }

}
@media all and (max-width: ($sm-size)-1) {
  .header-top__phone_main a {
    font-size: 25px;
  }
}
@media all and (max-width: 450px) {
  .header-top__phone_main a {
    font-size: 20px;
  }
  .header-top__phone_main {
    position: relative;
    top:5px;
  }
}
@media all and (max-width: 400px) {
  .header-top__phone_main a {
    font-size: 16px;
  }
  .header-top__phone_main {
    position: relative;
    top:9px;
  }
  .header-top__phone-icon {
    height: 18px !important;
    top: -1px !important;
  }
}
@media all and (max-width: 340px) {
  .header-top__phone_main a {
    font-size: 14px;
  }
  .header-top__phone_main {
    top:10px;
  }
  .header-top__phone-icon {
    height: 16px !important;
    top: -1px !important;
  }
}
.header-top__phone {
  font-size: 110%;
  position: relative;
  img {
    top: -3px;
  }
}

.header-top__phone-icon {
  height: 16px;
  margin-right: 5px;
}
@media all and (max-width: ($sm-size)-1) {
  .header-top__phone-icon {
    height: 23px;
    position: relative;
    top: -5px;

  }
}
.header-top__phone-icon_small {
  height: 14px;
  margin-right: 5px;
}
.header-top__logo {
  height: 38px;
}


