.help-us {
  .glyphicon {
    color: #999;
  }

  &>.container {
    display: table;


    &>div {
      padding: 0.5em 0;
      line-height: 1.2;
      border-left:10px solid #ccc;
      background-color: white;
      margin: 2.5em 0;
    }
  }
}
.help-us__text>strong{
  color: $mainColor;
}
.help-us__icon {
  display: inline-block;
  font-size: 150%;
  float: left;
  position: relative;
  top: -5px;
  padding-left:15px;
  padding-right:5px;
}
.help-us__text {
  display: table-cell;
  vertical-align: middle;
  padding-left: 15px;
  padding-right: 15px;
  text-align: justify;
  line-height: 1.3;
  ul {
    margin: 0.8em 0;
  }
}