.modal-more-phones {

  text-align: center;
}
.modal-more-phones__list {
  float: none;
  text-align: center;
}
.modal-more-phones__title {
  font-size: 130%;
  margin: 1em 0 0.5em;
}
.modal-more-phones__phone {
  font-size: 160%;
}