.modal-cart__item {
  font-size: 90%;
  p {
    font-size: 95%;
  }
  i {
    font-size: 16px !important;
  }
}
@media all and (min-width: 600px) {
  .modal-cart__items {
    max-width: 400px;
    margin: 0 auto;
  }
  .modal-cart__item {
    font-size: 100%;

    p {
      font-size: 100%;
    }
  }
}
@media all and (min-width: $sm-size) {
  .modal-cart__items {
    max-width: 2000px;
  }
  .modal-cart__item {
    font-size: 115%;

    h3 {
      font-size: 100%;
    }
  }
}



.modal-cart__title {
  margin-top: 5px;
}
.modal-cart__description {
  margin: 2% 0;
  position: relative;
}
.modal-cart__items {
  border: 1px solid #ddd;
  border-bottom: none;
}
.modal-cart__left {
  text-align: center;
  position: relative;
}
.modal-cart__image {
  width: 80%;
}
.modal-cart__season {
  position: absolute;
  top: 5px;
  right: 5px;
}
.modal-cart__right {
  p {
    margin-bottom: 0;
  }
}
.modal-cart__trash {
  position: absolute;
  top: 0;
  right: 2%;
  color: $grayDark;
  &:hover {
    color: $orange;
  }
}
.modal-cart__prices {
  text-align: center;
  .row {
    margin: 0;
  }
  .row:first-child {
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
  }
  .row:last-child {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  small {
    color: #807f7f;
    font-size: 90%;
  }
  input {
    display: inline-block;
    text-align: center;
  }
}
.modal-cart__price {
  font-size: 90%;
  padding-top: 7px;
}
@media all and (max-width: 380px) {
  .col-xs-3, .col-xs-6 {
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media all and (min-width: 380px) {
  .modal-cart__price {
    font-size: 100%;
  }
}
@media all and (min-width: $sm-size) {
  .modal-cart__price {
    font-size: 80%;
    padding-top: 7px;
  }
}
@media all and (min-width: $md-size) {
  .modal-cart__price {
    font-size: 100%;
    padding-top: 2px;
  }
}
@media all and (min-width: $lg-size) {
  .modal-cart__price {
    font-size: 110%;

  }
}
.modal-cart__info {
  margin: 1em 0;
}
.modal-cart__amount {
  text-align: left;
}