.model {
  text-align: center;
  &:first-child {
    margin-top: 2em;
  }
  margin-bottom: 1em;
  border-bottom: 1px solid #ddd;
}
.model_top {
  border: 1px solid #d1e5fa;
  .model__right {
    background-color: #e0f3fe;
  }
}
.model_new {
  border: 1px solid #cadeaf;
  .model__right {
    background-color: #e6f9cc;
  }
}
.model__left {
  position: relative;
  padding: 16px;
}
.model__picture {
  min-width: 140px;
  width: 50%;
}
.model__season {
  position: absolute;
  top: 16px;
  right: 26px;
}
.model__label {
  position: absolute;
  top: -3px;
  left: -3px;
}
.model__right {
  padding: 16px;
  text-align: left;
}
.model__title {
  font-size: 14px;
}
@media all and (min-width: $sm-size) {
  .model__title {
    font-size: 21px;
  }
}
@media all and (min-width: $lg-size) {
  .model__title {
    font-size: 24px;
  }
}
.model__characteristic {
  margin-bottom: 0;
  span {
    font-family: "SegoeUISemiBold", Verdana, sans-serif;
  }
}
.model__advantages {
  border-bottom: 1px solid $gray;
}
.model__advantage {
  margin-bottom: 1em;
  div:first-child {
    text-align: center;
    img {
      width: 100%;
      max-width: 30px;
      margin-top: 3px;
    }

  }
  p {
    margin-bottom: 0;
    line-height: 1.2;
  }
}
@media all and (min-width: $md-size) {
  .model__advantage {
    div:first-child {
      img {
        margin-top: 0px;
      }

    }
  }
}
@media all and (min-width: $lg-size) {
  .model__advantage {

    div:first-child {

      img {
        width: 80%;
        margin-top: 3px;
      }

    }
  }
}
.model__buy {
  margin-top: 0.5em;
}
.model__price {

  text-align: center;
  font-size: 19px;
  color: $orange;
  font-family: "SegoeUISemiBold", Verdana, sans-serif;
  margin-bottom: 0.4em;
}
@media all and (min-width: $sm-size) {
  .model__price {
    font-size: 22px;
  }
}
@media all and (min-width: $lg-size) {
  .model__price {
    font-size: 26px;
  }
}
.model__quantity {
  float:left;
  width: 50px;
  text-align: center;
  display: inline-block;
  margin: 0 3px;
  padding-left: 0;
  padding-right: 0;
}
.model__quantity-btn {
  float: left;
}
.model__stockpile {
  font-family: "SegoeUIBold", Verdana, sans-serif;
}
.model__in-stock {
  margin-top: 0.7em;
  margin-bottom: 0;
  text-align: center;
}
.model__score {
  display: inline-block;
  padding: 10px 14px 14px;
  font-size: 10px;
  background: url(images/rank-level.png) no-repeat 3px center;
}
.model-card_top {
  border: 1px solid #d1e5fa !important;
  background-color: #e0f3fe;
}
.model-card_new {
  border: 1px solid #cadeaf !important;
  background-color: #e6f9cc;
}