.news-list__all{
  overflow:hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  position:relative;

  &:hover {
    background-color:$mainColor !important;
  }

  &:before {
    content:"";
    position:absolute;
    height:100%;
    /*background-color:$mainColor;*/
    background-image:url(images/news-arrow-white.png) ;
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    left:0;
    top:-100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  &:hover:before {
    top:0;
  }

  & span {
    display: inline-block;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s;
    -webkit-backface-visibility: hidden;
    -moz-transition: all 0.3s;
    -moz-backface-visibility: hidden;
    transition: all 0.3s;
    backface-visibility: hidden;
  }

  &:hover span {
    -webkit-transform: translateY(300%);
    -moz-transform: translateY(300%);
    -ms-transform: translateY(300%);
    transform: translateY(300%);
  }

}

//////








.news-list__list {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;

}
.news-list__item {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 2em;



  &>div {
    border: 1px solid #ececec;
    background: #ffffff;
    color: #5c5c5c;
    overflow: hidden;
    background: #ffffff none 0 0 repeat;
    border-radius: 0;
    /*box-shadow: 0 5px 8px 0 rgba(160, 166, 168, 0.35);*/
    box-sizing: border-box;
    width: 100%;
  }
}
.news-list__teaser {
  display: block;
  position: relative;
  color: #5c5c5c;
  overflow: hidden;

  &>div.news-list__picture {

    display: inline-block;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    border-bottom-color: $orange;
    border-bottom-width: 4px;
    border-bottom-style: solid;

  }
}
.news-list__image {
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-property: opacity, transform, filter;
  -webkit-transform: scale(1);
  transform: scale(1);
  max-width: 100%;
  vertical-align: middle;
}
.news-list__overlay {
  opacity: 0;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-property: opacity, transform, filter;
  background: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  color: #5c5c5c;
  display: block;
  &>img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    font-size: 40px;
    line-height: 1;
    opacity: 0.7;
    text-align: center;
    color: #5c5c5c;
  }
}
.news-list__teaser>div:hover {
  .news-list__overlay {
    opacity: 1;
  }
  .news-list__image {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.news-list__cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
}
.news-list__content {
  box-sizing: border-box;
  padding: 1em 30px;
  width: 100%;
}
.news-list__theme {
  text-transform: uppercase;
  color: $orange;
  display: inline-block;

  font-size: 90%;
  line-height: 1.2;

  margin-bottom: 10px;
  letter-spacing: 2px;
  text-align: left;
}
.news-list__title {
  font-size: 160%;
  font-family: "SegoeUILight", Verdana, sans-serif;
  line-height: 1.1;
  margin-top: 0;
  a {
    color: #5c5c5c;
    &:hover {
      text-decoration: none;
    }
  }
}
.news-list__text {
  font-size: 100%;
}
.news-list__arrow {
  text-align: right;
  img {
    &:hover {
      opacity: 0.6;
      transition: all 0.4s;
    }
  }
}
.news-list__item_test {
  .news-list__theme {
    color: $mainColor;
  }
  .news-list__teaser {
    &>div.news-list__picture {
      border-bottom-color: $mainColor;
    }
  }
}
.news-list__item_info {
  .news-list__theme {
    color: #2db3c4;
  }
  .news-list__teaser {
    &>div.news-list__picture {
      border-bottom-color: #2db3c4;
    }
  }
}
.news-list__item_news {
  .news-list__theme {
    color: $green;
  }
  .news-list__teaser {
    &>div.news-list__picture {
      border-bottom-color: $green;
    }
  }
}
.news-list__item.news-list__item_reverse {
  .news-list__content {
    padding-bottom: 210px;
    padding-top: 20px;
  }

  .news-list__picture {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
  }

  .news-list__teaser {

    &>div.news-list__picture {
      border-bottom: none;
      border-top: 4px solid $orange;
    }
  }
  &.news-list__item_test {
    .news-list__teaser {
      &>div.news-list__picture {
        border-top-color: $mainColor;
      }
    }
  }
  &.news-list__item_news {
    .news-list__teaser {
      &>div.news-list__picture {
        border-top-color: $green;
      }
    }
  }
  &.news-list__item_info {
    .news-list__teaser {
      &>div.news-list__picture {
        border-top-color: #2db3c4;
      }
    }
  }

}

@media all and (max-width: 500px) {
  .news-list__item {
    margin-bottom: 2em !important;
    &.col-xs-6 {
      float: none;
      width: 100%;
      max-width: 300px;
      margin: 0 auto;
    }
  }
}