.news-list__item {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}
.news-list__image {
  width: 40%;

  height: 120px;
  float: left;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  position: relative;
}
.news-list__info {
  margin-left: 45%;
  width: 55%;
  box-sizing: border-box;
}
.news-list__description {
  text-align: justify;
  line-height: 1.2;
}
.news-list__date {
  border-bottom: 1px solid $gray;
  color: #8d8d8d;
}
.news-list__anchor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.news-list__comments {
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 0 5px;
  bottom: 4px;
  right: 4px;
  position: absolute;
  &:hover {
    color: white;
    text-decoration: none;
  }
}
.news-list__heading {
  display: none;
}
@media all and (min-width: $sm-size) {
  .news-list__item {
    border: none;
    .clearfix {
      display: none;
    }
    div {
      border: 1px solid #e9e9e9;
      box-shadow: 0 5px 3px -5px rgba(0, 0, 0, 0.5);
    }
  }
  .news-list__image {
    width: 100%;
    height: auto;
    float: none;
    &:before {
      content: "";
      display: block;
      padding-top: 66%;

      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);

    }
    .news-list__anchor {
      z-index: 1;
      content: '';
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
      background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
      background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
      -webkit-transition: all 250ms ease-in-out;
      -moz-transition: all 250ms ease-in-out;
      -o-transition: all 250ms ease-in-out;
      -ms-transition: all 250ms ease-in-out;
      transition: all 250ms ease-in-out;
    }
    &:hover .news-list__anchor {
      opacity: 1;
    }
  }
  .news-list__info {
    margin-left: 0;
    width: 100%;
    padding: 15px 20px 55px;
    box-sizing: border-box;
    position: relative;

  }
  .news-list__title {
    display: none;
  }
  .news-list__heading {
    position: absolute;
    bottom: 4%;
    left: 4%;
    color: white;
    z-index: 2;
    display: block;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
  .news-list__date {
    position: absolute;
    padding: 7px 0 7px 20px;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    left: 0;
    border-bottom: none;
    border-top: 1px solid $gray;
    margin-bottom: 0;
  }
  .news-list__comments {
    z-index: 2;
  }
}
@media all and (min-width: $md-size) {
  .news-list__info {
    height: 170px;
  }
}
@media all and (min-width: $lg-size) {
  .news-list__info {
    height: 170px;
  }
}
/*.news-list {
  padding-left: 0;
  padding-right: 0;
}
.news-list__date {
  color: #999;
  text-align: right;
  margin-bottom: 0.5rem;
}
.news-list__anchor-image {
  display: block;
  border-top: 4px solid $orange;
}
.news-list__image {
  width: 100%;
}
.news-list__title {
  font-size: 17px !important;
  margin: .5em 0;
  a {
    color: black;
    font-size: 17px !important;
    font-family: "SegoeUISemiBold", Verdana, sans-serif;
    line-height: 1;
  }

}
.news-list__text {
  text-align: justify;
}
.news-list__item {
  &:last-child {
    display: none;
  }
}
.news-list__all {
  margin-right: 15px;
}
@media all and (min-width: 550px) and (max-width: $sm-size) {
  .news-list__item {
    margin-top: 10px;
    clear: both;
  }
  .news-list__anchor-image {
    width: 40%;
    float: left;
  }
  .news-list__title, .news-list__text {
    margin-left: 45%;

  }
  .news-list__title {
    margin-top: 0;

    width: 40%;
  }
  .news-list__date {
    float: right;
  }
}
@media all and (min-width: $sm-size) {
  .news-list__anchor-image {
    border-top:  5px solid $orange;
  }
  .news-list__item {
    &:last-child {
      display: block;
    }
  }
}
@media all and (min-width: $lg-size) {
  .news-list__anchor-image {
    border-top:  6px solid $orange;
  }
  .news-list__title {
    a {
      font-size: 19px !important;
    }

  }
}*/
