.oplata {
  margin-top: 2em;
  text-align: center;
  padding-bottom: 2em;
  p, ul {
    text-align: left;

  }
  ul {
    padding: 0;
    list-style-image: url(images/arrow.png);
  }
  li {
    padding: 0;
    margin-left: 25px;
  }
}
.oplata__image {
  float: left;
}
.oplata__description {
  padding-top: 0.5em;
  margin-left: 90px;
}
.oplata__item {
  clear: both;
  margin-top: 2em;
  min-height: 70px;
  box-sizing: border-box;

}
@media all and (min-width: $sm-size) {
  .oplata__image {
    float: none;
  }
  .oplata__description {
    padding-top: 0;
    margin-left: 0;
  }
  .oplata__item {
    clear: none;
    margin-top: 0;
  }
}
