.pagination__list {
  width: 100%;
  text-align: center;
}
.pagination__item {
  padding: 0 !important;
}

.pagination__item_active {
  .pagination__anchor {
    color: #5c5c5c;
    font-size: 18px;
  }

}

.pagination__anchor {
  display: inline-block;
  min-width: 8px;
  padding: 3px 10px;
  line-height: 22px;
  text-decoration: none;
  box-sizing: content-box;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: rgba(0, 0, 0, 0);
  color: #adadae;
  &:hover {
    color: #5c5c5c;
    outline: none;
    text-decoration: none;
  }
}
.pagination__list .pagination__item_disabled {
  display: none;
}
.pagination__arrow {
  .pagination__anchor {
    padding: 3px 4px;
  }
}