.rzslider .rz-bar {
  background-color: white !important;
}
.rz-pointer {
  width: 20px !important;
  height: 20px !important;
  background-color: $mainColor !important;
  top: -8px !important;
  border-radius: 50% !important;
  &:after {
    top: 6px !important;
    left: 6px !important;
  }
}
.rz-bar.rz-selection {
  background-color: $mainColorHover !important;
}
.rzslider .rz-pointer {
  &:focus {
    outline: none !important;
  }
}