.submenu {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  .container {
    background-color: white;
    padding: 1em 0;

  }
}
@media all and (min-width: $sm-size) {
  .submenu {
    top: 97px;
    display: block;
  }
}
@media all and (min-width: $md-size) {
  .submenu {
    top: 117px;
  }
  .header-bottom_condensed .submenu {
    top: 97px;
  }
}
.submenu__content {
  min-height: 80px;
}
.submenu__preloader {
  margin-top: 10px;
}