.tab {
  padding-top: 55px;
  position: relative;
  min-height: 200px;
  color: black;
}
@media all and (max-width: ($sm-size)-1) {
  .tab {
    padding-top: 20px;
    padding-bottom: 15px;
  }
}
.tab__section-title {
  margin-top: 15px;
}
.tab__section-title_condensed {
  margin-bottom: 0;
}