.tab1 {

}



.tab1__label {
  overflow:hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  position:relative;

  &:before {
    content:"";
    position:absolute;
    height:100%;
    background-color:$mainColor;
    background-image:url(images/winter-white.png) ;
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    left:0;
    top:-100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  /*
  &:hover:before {
    top:0;
  }
  */

  &:after{
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
}



@media all and (min-width: $lg-size) {
  .tab1 {
    background: url("images/test2_bg.png") no-repeat left 10px;
  }
}
.tab1__label {
  width: 100%;
  height: 100%;
  &.active, &.active:hover {
    background-color: $mainColor;
    color: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
.tab1__results {
  background-color: $grayDark;
  line-height: 30px;
  margin-top: 20px;
  
}
.tab1__form {
  position: relative;
}
.tab1__delete {
  color: white;
  margin-right: 5px;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  line-height: 15px;
  position: relative;
  top: -1px;
  background-color: $orange;
  cursor: pointer;
  text-align: center;
  font-size: 10px;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}
.tab1__select {
  width: 100%;
  margin-bottom: 0;
}

.tab1__right {
  position: relative;
}
.tab1__more {
  position: absolute;
  top: -40px;
  right:10px;

}
.tab1__phone {
  font-size: 200%;
  display: block;
  text-align: center;
}
.tab1__multiselect {
  min-width: 470px;
}
.tab1__paddingBottom {
  padding-bottom: 44px;
}
@media all and (max-width: ($sm-size)-1) {
  .tab1 .tab1__button {
    margin-top: 35px;
  }
}
.tab1__paddingBottomSmall {

}
@media all and (max-width: 600px) {
  .tab1__paddingBottomSmall {
    width: 100%;
    margin-bottom: 15px;
    clear: both;
    float: none;
    &:last-child {
      margin-bottom: 25px;
    }
  }

}
.tab1__button {
  clear: both;
}
.tab1__range {
  margin: 10px 0 30px;
}
.tab1__range-input {
  position: relative; top: 20px;
}