.tab1 {

}
@media all and (min-width: $lg-size) {
  .tab1 {
    background: url("images/test2_bg.jpg") no-repeat left 10px;
  }
}
.tab1__label {
  width: 100%;
}
.tab1__results {

  line-height: 30px;
  margin-top: 20px;
  background-color: #aaa;
}
.tab1__form {
  position: relative;
}
.tab1__delete {
  color: white;
  margin-right: 5px;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  line-height: 15px;
  position: relative;
  top: -1px;
  background-color: $orange;
  cursor: pointer;
  text-align: center;
  font-size: 10px;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}
.tab1__select {
  width: 100%;
  margin-bottom: 0;
}

.tab1__right {
  position: relative;
}
.tab1__more {
  position: absolute;
  top: -40px;

}
.tab1__phone {
  font-size: 200%;
  display: block;
  text-align: center;
}
.tab1__multiselect {
  min-width: 470px;
}
.tab1__paddingBottom {
  padding-bottom: 44px;
}
@media all and (max-width: $sm-size) {
  .tab1__button {
    margin-top: 35px;
  }
}
.tab1__paddingBottomSmall {

}
@media all and (max-width: 600px) {
  .tab1__paddingBottomSmall {
    width: 100%;
    margin-bottom: 15px;
    clear: both;
    float: none;
    &:last-child {
      margin-bottom: 25px;
    }
  }

}
.tab1__button {
  clear: both;
}