.tires-rims__item {
  float:left;
  width: 20%;
  padding: 0 1%;
  text-align: center;
  list-style-type: none;
  line-height: 1;
}
.tires-rims__image {
  max-width: 100%;
  margin-bottom: 5px;
}
.tires-rims__text {

}