.tools-menu {
  float: right;
  @if ($theme == turquoise-theme) {
    a {
      color: black;
    }
  }
}
.tools-menu__list {
  line-height: 50px;
  padding: 15px 0;
}
.tools-menu__item {
  display: inline-block;
  margin-left: 10px;
  border-right: 1px solid $gray;
  padding-right: 13px;
  &:last-child {
    border-right: none;
  }

  ul {
    list-style-type: none;
    display: inline-block;
    line-height: 1;
    position: relative;
    top: 8px;
  }
}
.tools-menu__icon {
  font-size: 22px;
  color: $mainColor;
  margin-right: 5px;
  position: relative;
  top: 7px;
  &:last-child {
    margin-right: 0;
  }
}
.tools-menu__cart {
  position: relative;
}
.tools-menu__goods {
  background-color: $orange;
  color: white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
}
@media all and (max-width: $md-size) {
  .tools-menu__list {
    line-height: 40px;
    padding: 10px 0;
  }
}
@media all and (max-width: $sm-size) {
  .tools-menu__list {
    line-height: 29px;
    padding: 8px 0 5px;
  }
  .tools-menu__icon {
    font-size: 25px;
    top: 2px;
  }
}
.tools-menu__logged-in {
  position: relative;

}
.tools-menu__ok {
  position: absolute;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background: $orange;
  color: #fff !important;
  width: 17px;
  height: 17px;
  line-height: 17px;
  text-align: center;
  top: 1em;
  left: 1.6rem;
  font-size: 0.6em;
}
.tools-menu__cart-open {
  width: 100%; height: 100%; display: block; position: absolute; top: 0; left: 0
}