<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.png">
    <title>Title</title>
    <link rel="stylesheet" href="dest/fonts.css">

    <link rel="stylesheet" href="dest/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="dest/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="dest/styles.min.css">
    <link rel="stylesheet" href="dest/rzslider.min.css">

    <style>

    </style>

</head>
<body ng-controller="AppCtrl as controller" anchor>

    <header class="header panel panel-default">
        <div class="panel-heading header-top">
            <div class="container">
                <section class="row">
                    <section class="col-xs-4 hidden-sm hidden-sm hidden-md hidden-lg">
                        <a href="/tires/index.html"><img class="header-top__logo" src="dest/images/logo_long.png"></a>
                    </section>
                    <section class="col-sm-3 col-xs-6 header-top__schedule-wrapper hidden-xs">
                        <small class="header-top__schedule">Работаем с 9-00 до 20-00 без выходных</small>
                    </section>
                    <section class="col-sm-offset-1 col-sm-5  col-xs-8">
                        <ul class="list-inline header-top__phones">
                            <li class="header-top__phone_main">
                                <img class="header-top__phone-icon hidden-lg hidden-md hidden-sm" src="dest/images/phone-icon.png">
                                <img class="header-top__phone-icon hidden-xs" src="dest/images/i-mts.png">
                                <small><a href="tel:{{phoneFirst}}"><strong ng-bind="phoneFirst"></strong></a></small></li>
                            <li class="hidden-sm hidden-md hidden-lg header-top__phone_main">
                                <a data-toggle="modal" data-target="#morePhones" href="#">+</a>
                            </li>
                            <li class="hidden-xs header-top__phone">
                                <img class="header-top__phone-icon_small" src="dest/images/i-velc.png">
                                <small><a href="tel:{{phoneSecond}}"><strong ng-bind="phoneSecond"></strong></a></small>
                            </li>
                        </ul>
                    </section>
                    <section class="col-sm-3 hidden-xs">
                        <a href = "#" data-toggle = "modal" data-target = "#callBack" class = "header-top__phone-me text-center">
                            <i class="glyphicon glyphicon-menu-right"></i>&nbsp;Позвоните мне
                        </a>
                    </section>
                </section>
            </div>
        </div>
        <div condense-on-scroll class="panel-body header-bottom">
            <div class="container">
                <a open-menu-mobile href="#" do-not-follow class="mobile-menu__icon hidden-sm hidden-md hidden-lg"></a>
                <nav class="menu-mobile hidden-sm hidden-md hidden-lg">
                    <div class="close menu-mobile__close"  close-menu-mobile><i class="glyphicon glyphicon-remove"></i></div>
                    <ul ng-repeat="section in menu">
                        <li class="menu-mobile__item"><a href="#" ng-bind="section.title"></a>
                            <ul class="menu-mobile__subsection" ng-show="section.subsections">
                                <li ng-repeat="subsection in section.subsections">
                                    <a href="#" ng-bind="subsection.title"></a>
                                    <ul class="menu-mobile__subsubsection"  ng-show="subsection.subsections">
                                        <li ng-repeat="subsection in subsection.subsections">
                                            <a href="#" ng-bind="subsection.title"></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div class="menu-mobile__cover hidden-sm hidden-md hidden-lg" close-menu-mobile></div>
                <a href="#" class="header-bottom__logo-anchor pull-left hidden-xs"><img class="header-bottom__logo" src="dest/images/logo.png"></a>

                <menu></menu>

                <nav class="tools-menu">
                    <ul class="tools-menu__list header-bottom__tools">
                        <li class="tools-menu__item">
                            <a href="#" data-toggle="modal" data-target="#search">
                                <i class="glyphicon glyphicon-search tools-menu__icon"></i>
                                <span class="hidden-sm hidden-md hidden-xs">Поиск</span>
                            </a>
                        </li>
                        <li class="tools-menu__item">
                            <a href="#" class="hidden-lg" data-toggle="modal" data-target="#log-in">
                                <i class="glyphicon glyphicon-user tools-menu__icon"></i>
                            </a>
                            <i class="hidden-sm hidden-md hidden-xs glyphicon glyphicon-user tools-menu__icon"></i>
                            <ul class="hidden-sm hidden-md hidden-xs">
                                <li><a href="#"><span class="hidden-sm hidden-md hidden-xs" data-toggle="modal" data-target="#log-in">Вход</span></a></li>
                                <li><a href="#"><span class="hidden-sm hidden-md hidden-xs" data-toggle="modal" data-target="#register">Регистрация</span></a></li>
                            </ul>
                        </li>
                        <li class="tools-menu__item tools-menu__cart">
                            <a ng-cloak ng-hide="cart.items.length" href="#" uib-tooltip="Ваша корзина пуста"
                               tooltip-placement="bottom-right"
                               tooltip-trigger="'mouseenter'">
                                <i class="glyphicon glyphicon-shopping-cart tools-menu__icon"></i>
                            </a>
                            <a ng-show="cart.items.length" href="#" data-toggle="modal" data-target="#cart">
                                <i class="glyphicon glyphicon-shopping-cart tools-menu__icon"></i>
                                <section  class="tools-menu__goods" ng-bind="cart.items.length"></section>
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>
            <div class="submenu" ng-show="subMenuContent" ng-bind-html="subMenuContent"  hide-on-misclick><!-- hide-on-scroll-->

            </div>
        </div>
    </header>

    <main>
        <div ng-controller="TabsCtrl">
            <div class="tabs-tires">
                <div class="tabs-tires__header">
                    <div class="tabs-tires__heading hidden-sm hidden-md hidden-lg">
                        <div class="container">
                            {{tabs[active].title}}
                        </div>
                    </div>
                    <div class="container tabs-tires__list">
                        <ul ng-repeat = "tab in tabs" class="tabs-tires__tabs">
                            <li class="tabs-tires__tab" ng-class="{active: active === $index}">
                                <a ng-click="changeActive($index)" class="hidden-sm hidden-lg hidden-md" href="#" ng-style="{'background-image':'url(dest/images/'+($index+1)+'.png)'}">

                                    <span></span>
                                </a>
                                <a href ng-click="changeActive($index)" class="tabs-tires__anchor hidden-xs">{{tab.title}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tabs-tires__content">
                    <div class="container tab-content">

                        <div ng-repeat="tab in tabs"
                             ng-class="{active: active === $index}">
                            <div bind-html-compile="tab.content"><!--sce.trustAsHtml(tab.content)-->

                            </div>

                        </div>
                    </div>
                </div>

            </div>


        </div>
        <ui-view></ui-view>
        <section class="help-us hidden-xs">
            <div class="container">
                <div>
                    <span class="help-us__icon">
                        <i class="glyphicon glyphicon-info-sign"></i>
                    </span>
                    <span class="help-us__text">Вы можете нам помочь! Если Вы заметили опечатку или неточность на сайте, пожалуйста, выделите ее и нажмите <strong>Ctrl+Enter</strong></span>
                </div>

            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="container">
            <span class="footer__text hidden-lg hidden-md hidden-sm"><small>2010 &ndash; 2016 © Интернет-магазин шин и дисков 4k.by</small></span>
            <ul class="list-inline hidden-xs">

                <li class="col-sm-3">
                    <h4 class="footer__subtitle"><a href="#">Для покупателя</a></h4>
                    <ul class="list-unstyled">
                        <li><a href="#">Оплата и доставка</a></li>
                        <li><a href="#">Гарантия и шины</a></li>
                        <li><a href="#">О компании</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </li>
                <li class="col-sm-3">
                    <h4 class="footer__subtitle"><a href="#">Каталог шин и дисков</a></h4>
                    <ul class="list-unstyled">
                        <li><a href="#">Легковые шины</a></li>
                        <li><a href="#">Легковесные диски</a></li>
                        <li><a href="#">Грузовые шины</a></li>
                    </ul>
                </li>
                <li class="col-sm-3">
                    <h4 class="footer__subtitle"><a href="#">Услуги и сервис</a></h4>
                    <ul class="list-unstyled">
                        <li><a href="#">Шинные центры</a></li>
                        <li><a href="#">Запись на шиномонтаж</a></li>
                        <li><a href="#">Онлайн подбор шин</a></li>
                        <li><a href="#">Онлайн подбор дисков</a></li>
                        <li><a href="#">Подбор шин по авто</a></li>
                    </ul>
                </li>

                <li class="col-sm-3">
                    <h4 class="footer__subtitle"><a href="#">Мы в социальных сетях</a></h4>
                    <ul class="list-inline footer__socials">
                        <li>
                            <a href="#" class="footer__social"></a>
                        </li>
                        <li>
                            <a href="#" class="footer__social footer__social_fb"></a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
        <section class="bottom-panel" ng-controller="FooterCtrl">
            <div class="bottom-panel__open" ng-click = "showFixedPanel($event)"><i class="glyphicon glyphicon-plus"></i></div>
            <ul class="bottom-panel__list list-inline">
                <li class="bottom-panel__item">
                    <a href="#" uib-tooltip="Задать вопрос on-line"
                       tooltip-placement="top"
                       tooltip-trigger="'mouseenter'">
                        <img class="bottom-panel__image" src="dest/images/sh.png">
                        <span class="bottom-panel__text hidden-xs">Задать вопрос</span>
                    </a>
                </li>
                <li class="bottom-panel__item">
                    <a href="#" uib-tooltip="Недавно просмотренные товары!"
                       tooltip-placement="top"
                       tooltip-trigger="'mouseenter'">
                        <img class="bottom-panel__image" src="dest/images/viewed.png">
                        <span class="hidden-xs bottom-panel__text">Недавно просмотенные</span>
                    </a>
                </li>
                <li class="bottom-panel__item">
                    <a href="#" uib-tooltip="Избранные товары"
                       tooltip-placement="top"
                       tooltip-trigger="'mouseenter'">
                        <img  class="bottom-panel__image " src="dest/images/favorites.png">
                    </a>
                </li>
                <li class="bottom-panel__item">
                    <a href="#"
                       uib-tooltip="Нажмите, чтобы открыть окно поиска."
                       tooltip-placement="top"
                       tooltip-trigger="'mouseenter'">
                        <img class="bottom-panel__image" src="dest/images/search.png">
                    </a>
                </li>
                <li class="bottom-panel__item">
                    <a href="#" uib-tooltip="Нажмите чтобы скрыть панель"
                       tooltip-placement="top"
                       tooltip-trigger="'mouseenter'"
                        ng-click = "hideFixedPanel($event)"
                    >
                        <i class="glyphicon glyphicon-minus"></i>
                    </a>
                </li>
            </ul>
        </section>
    </footer>


    <div class="scroll-up">
        <img class="scroll-up__image" src="dest/images/anchor.png">
    </div>



    <div class="modal fade modal-phone-me" tabindex="-1" role="dialog" id="callBack">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="glyphicon glyphicon-remove"></i></span></button>
                    <h4 class="modal-title">Заявка на обратный звонок</h4>
                </div>
                <div class="modal-body">
                    <p>Для того что бы оставить заявку на обратный звонок, пожалуйста, заполните форму ниже:</p>
                    <form>
                        <div class="form-group modal-phone-me__half modal-phone-me__half_left">
                            <input type="text" class="form-control" placeholder="ФИО *">
                        </div>
                        <div class="form-group modal-phone-me__half modal-phone-me__half_right">
                            <input type="text" class="form-control" placeholder="Телефон *">
                        </div>
                        <select class="form-control modal-phone-me__select">
                            <option selected>Выберите тему</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        <textarea placeholder="Комментарий" class="form-control" rows="3"></textarea>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning">Отправить</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade modal-more-phones" tabindex="-1" role="dialog" id="morePhones">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="glyphicon glyphicon-remove"></i></span></button>
                    <h4 class="modal-title">Контакты</h4>
                </div>
                <div class="modal-body modal-body_gray">
                    <p class="modal-more-phones__title"><strong>Горячая линия</strong></p>
                    <p class="modal-more-phones__phone" ng-bind="phoneFirst"></p>

                </div>
                <div class="modal-footer">
                    <ul class="list-inline header-top__phones modal-more-phones__list">
                        <li class="header-top__phone"><img class="header-top__phone-icon_small" src="dest/images/i-velc.png"><small ng-bind="phoneSecond"></small></li>
                    </ul>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade modal-cart" tabindex="-1" role="dialog" id="cart">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="glyphicon glyphicon-remove"></i></span></button>
                    <h4 class="modal-title">Корзина</h4>
                </div>
                <div class="modal-body"  cart>

                </div>
                <div class="modal-footer">
                    <span class="about__anchor modal-cart__continue-btn pull-left">Продолжить покупки</span>
                    <button class="btn btn-warning">Оформить заказ</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" tabindex="-1" role="dialog" id="log-in">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="glyphicon glyphicon-remove"></i></span></button>
                    <h4 class="modal-title">Вход</h4>
                </div>
                <div class="modal-body">
                    <p class="hidden-lg hidden-md hidden-sm">
                        <a href="#"  data-toggle="modal" data-target="#register">Зарегистрироваться</a>
                        <a href="#" class="log-in__forget" data-toggle="modal" data-target="#forget">Забыли пароль?</a>
                    </p>
                    <ul class="log-in__socials row list-unstyled">
                        <li class="col-sm-4">
                            <a href="#"><span class="log-in__social log-in__facebook">FACEBOOK</span></a>
                        </li>
                        <li class="col-sm-4">
                            <a href="#"><span class="log-in__social log-in__google">GOOGLE</span></a>
                        </li>
                        <li class="col-sm-4">
                            <a href="#"><span class="log-in__social log-in__vkontakte">ВКОНТАКТЕ</span></a>
                        </li>
                        <li class="log-in__or">или</li>
                    </ul>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Ваше имя, номер телефона или email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Пароль">
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="pull-left hidden-xs" data-toggle="modal" data-target="#register">Зарегистрироваться</a>
                    <a href="#" class="pull-left log-in__forget hidden-xs" data-toggle="modal" data-target="#forget">Забыли пароль?</a>
                    <button class="btn btn-warning">Отправить</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" tabindex="-1" role="dialog" id="register">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="glyphicon glyphicon-remove"></i></span></button>
                    <h4 class="modal-title">Регистрация</h4>
                </div>
                <div class="modal-body">
                    <p class="hidden-lg hidden-md hidden-sm">
                        <a href="#"  data-toggle="modal" data-target="#log-in">Войти</a>
                        <a href="#" class="log-in__forget" data-toggle="modal" data-target="#forget">Забыли пароль?</a>
                    </p>
                    <ul class="log-in__socials row list-unstyled">
                        <li class="col-sm-4">
                            <a href="#"><span class="log-in__social log-in__facebook">FACEBOOK</span></a>
                        </li>
                        <li class="col-sm-4">
                            <a href="#"><span class="log-in__social log-in__google">GOOGLE</span></a>
                        </li>
                        <li class="col-sm-4">
                            <a href="#"><span class="log-in__social log-in__vkontakte">ВКОНТАКТЕ</span></a>
                        </li>
                        <li class="log-in__or">или</li>
                    </ul>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Ваш E-mail*">
                    </div>
                    <p class="log-in__explain">Существующий адрес электронной почты. Все почтовые сообщения с сайта будут отсылаться на этот адрес. Адрес электронной почты не будет публиковаться и будет использован только по вашему желанию: для восстановления пароля или для получения новостей и уведомлений по электронной почте.</p>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Ваш логин*">
                    </div>
                    <p class="log-in__explain">Пробелы разрешены; знаки пунктуации запрещены, за исключением точек, тире, апострофов и знаков подчеркивания.</p>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Пароль*">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Повторите пароль*">
                    </div>
                    <p class="log-in__explain">Укажите пароль для новой учетной записи в обоих полях.</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="pull-left hidden-xs" data-toggle="modal" data-target="#log-in">Войти</a>
                    <a href="#" class="pull-left log-in__forget hidden-xs" data-toggle="modal" data-target="#forget">Забыли пароль?</a>
                    <button class="btn btn-warning">Отправить</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" tabindex="-1" role="dialog" id="forget">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="glyphicon glyphicon-remove"></i></span></button>
                    <h4 class="modal-title">Восстановление пароля</h4>
                </div>
                <div class="modal-body">
                    <p class="hidden-lg hidden-md hidden-sm">
                        <a href="#"  data-toggle="modal" data-target="#log-in">Войти</a>
                        <a href="#" class="log-in__forget" data-toggle="modal" data-target="#register">Регистрация</a>
                    </p>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Логин, e-mail или номер телефона">
                    </div>

                </div>
                <div class="modal-footer">
                    <a href="#" class="pull-left hidden-xs" data-toggle="modal" data-target="#log-in">Войти</a>
                    <a href="#" class="pull-left log-in__forget hidden-xs" data-toggle="modal" data-target="#register">Регистрация</a>

                    <button class="btn btn-warning">Выслать новый пароль</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" tabindex="-1" role="dialog" id="search">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="glyphicon glyphicon-remove"></i></span></button>
                    <h4 class="modal-title">Поиск</h4>
                </div>
                <div class="modal-body search-modal">
                    <div class="row">
                        <div class="col-sm-7">
                            <input type="text" class="search-modal__input form-control" placeholder="Искать...">
                        </div>
                        <div class="col-sm-4">
                            <div class="select__wrapper">
                                <label class="tab1__label">
                                    <span class="select__label search-modal__label" ng-hide="search.theme">Где искать?</span>
                                    <select ng-model="search.theme" class="form-control select search-modal__theme">
                                        <option>Везде</option>
                                        <option>Статья</option>
                                        <option>Обзор</option>
                                        <option>Типоразмер: диски</option>
                                        <option>Типоразмер: шины</option>
                                    </select>
                                </label>
                            </div>

                        </div>
                        <div class="col-sm-1">
                            <button class="btn btn-primary search-modal__button form-control">
                                <i class="glyphicon glyphicon-search"></i>
                                <span class="hidden-lg hidden-md hidden-sm">Искать</span>
                            </button>
                        </div>
                    </div><!-- /input-group -->
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script src="dest/js/lib/jquery-1.11.3.min.js"></script>
    <script src="dest/js/lib/angular.min.js"></script>
    <script src="dest/js/lib/angular-sanitize.js"></script>
    <script src="dest/bootstrap/js/bootstrap.min.js"></script>
    <script src="dest/build.clean.js"></script>
    <script src="dest/js/lib/rzslider.min.js"></script>
    <script src="dest/js/lib/angular-ui-router.min.js"></script>


    <script src="dest/js/app.js"></script>


    <!--Конфиги-->
    <script src="dest/js/configs/route.js"></script>


    <!--Контроллеры-->
    <script src="dest/js/controllers/appCtrl.js"></script>
    <script src="dest/js/controllers/tabsCtrl.js"></script>
    <script src="dest/js/controllers/footerCtrl.js"></script>
    <script src="dest/js/controllers/homeCtrl.js"></script>
    <script src="dest/js/controllers/tiresCtrl.js"></script>
    <script src="dest/js/controllers/catalogCtrl.js"></script>
    <script src="dest/js/controllers/brandCtrl.js"></script>
    <script src="dest/js/controllers/modelCtrl.js"></script>



    <!--Директивы-->
    <script src="dest/js/directives/menu.js"></script>
    <script src="dest/js/directives/chooseTire.js"></script>
    <script src="dest/js/directives/bindHtmlCompile.js"></script>
    <script src="dest/js/directives/toggleAnchor.js"></script>
    <script src="dest/js/directives/multiselect.js"></script>
    <script src="dest/js/directives/anchor.js"></script>
    <script src="dest/js/directives/condenseOnScroll.js"></script>
    <script src="dest/js/directives/openMenuMobile.js"></script>
    <script src="dest/js/directives/closeMenuMobile.js"></script>
    <script src="dest/js/directives/tiresForCar.js"></script>
    <script src="dest/js/directives/hideOnMisclick.js"></script>
    <script src="dest/js/directives/hideOnScroll.js"></script>
    <script src="dest/js/directives/cart.js"></script>
    <script src="dest/js/directives/doNotFollow.js"></script>

    <!--Фильтры-->
    <script src="dest/js/filters/goods.js"></script>


    <script src="dest/bootstrap/angular/ui-bootstrap-2.1.3.js"></script>
    <script src="dest/bootstrap/angular/ui-bootstrap-tpls-2.1.3.js"></script>

    <script>

        $(".about__toggle").click(function(e){

            if ($(".about .container").hasClass("about__opened")) {
                $(".about__toggle").removeAttr("style");
                $(".about .container").animate({height: 440 + "px"},300);
                $(".about__content").animate({height: 440 + "px"},300,function(){

                    $(".about__content").removeAttr("style");
                    $(".about .container").removeAttr("style");

                    $(".about .container").toggleClass("about__opened");
                });
            }
            else {
                $(".about__container").animate({height: $(".about__content").height()+"px"},300);
                $(".about .container").animate({height: $(".about__content").height()+70+"px"},300,function(){
                    $(".about .container").toggleClass("about__opened");
                    $(".about__container").removeAttr("style").css("height","auto");
                    $(".about .container").removeAttr("style").css("height","auto").css("paddingBottom","40px");

                });
            }


        });
    </script>

    <script>
        $("#log-in").on("show.bs.modal",function(){
            $("#register").modal("hide");
            $("#forget").modal("hide");
        });
        $("#register").on("show.bs.modal",function(){
            $("#log-in").modal("hide");
            $("#forget").modal("hide");
        });
        $("#forget").on("show.bs.modal",function(){
            $("#log-in").modal("hide");
            $("#register").modal("hide");
        });


    </script>

</body>
</html>