.gkg-select {
    position: fixed;
    left: -10000px;
}
.gkg-select__fake {
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 32px 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
}
.gkg-select__fake_hover {
    border-color: #ea652a;
    outline: 0;
    box-shadow: none;
    z-index: 20;
}
.gkg-select__fake:after {
    content: "";
    display: inline-block;
    width: 2rem;
    height: 100%;
    float: right;
    transform: rotate(90deg);
    background: url(images/right-arrow.png) center no-repeat;
    transition: 150ms;
    position: absolute;
    top: 0;
    right: 6px;
}
.gkg-select__fake_hover:after {
    transform: rotate(-90deg);
}
.gkg-select__options {
    cursor: pointer;
    position: absolute;
    width: calc(100% + 2px);
    top: 34px;
    left: -1px;
    z-index: 1000;
    border: 1px solid #ccc;
    background-color: white;
    box-sizing: border-box;
    list-style-type: none;
    display: none;
    opacity: 0;
}
.gkg-select__fake_hover .gkg-select__options {
    opacity: 1;
    display: block;
    transition: all 0.3s;
}
.gkg-select__option{
    padding: 6px;
    transition: all 0.2s;
}
.gkg-select__option:hover {
    background-color: #fd812e;
}
.gkg-select__option_selected {
    background-color: #fd812e;;
    cursor: default;
}