.tires-rims__item {
    width: 33.3%;
}



.user-menu {
    padding: 10px !important;
    position: absolute;
    background-color: white;
    top: 45px;
    right: -1px;
    font-size: 14px;
    display: none;
    border: 1px solid #cecece;
    width: 180px;
    box-sizing: border-box;
}
.user-menu ul {
    width: 100%;
}
.user-menu li {
    width: 100%;
    margin-bottom: 0.5em;
}
@media all and (max-width: 768px) {
    .user-menu {
        top: 35px;
    }
}
.user-menu__parent {
    position: relative;
}
.user-menu_shown .user-menu  {
    display: block;
}


.popular-tires__title {
    text-align: left;
}
.popular-tires__no-result {
    padding-top: 50px;
}



.footer__subtitle {
    color: #000;
    font-size: 110%;
}
.comment {
    transform: rotateX(0deg);
    opacity: 1;
}


.scroll-up {
    transition: none;
}



.tabs-tires__tab a:first-child {
    transition: none;
}



.modal-body_gray {
    text-align: center;
}

.user__section .comments {
    margin-top: 0;
}
.user__section .comments h3 {
    margin-top: 0;
}

.model-card__favourite.model-card__favourite_selected i:first-child{
    display: none;
}

.model-card__favourite.model-card__favourite_selected i:last-child{
    display: block;
}

@media all and (max-width: 460px) {
    .search__item_article .col-xs-4,  .search__item_article .col-xs-8{
        width: 100%;
    }
}
