<section class="help-us hidden-xs">
    <div class="container">
        <div>
            <span class="help-us__icon">
                <i class="glyphicon glyphicon-info-sign"></i>
            </span>
            <span class="help-us__text">
                Подтверждая заказ вы согдашаетесь с условиями <a href="" ng-click="agreementShown = !agreementShown">пользовательского соглашения</a>
            </span>
        </div>

    </div>
</section>
<section class="container" ng-if="agreementShown">
    <h2 style="margin-top: 0">Пользовательское соглашение</h2>
    <p>Заполняя форму регистрации или оформляя заказ на сайте 4k.by, пользователь тем самым подтверждает, что все его контактные данные, а также любая информация относительно пользователя на сайте 4k.by, оставлена Пользователем добровольно. Данные действия являются подтверждением автоматического согласия Пользователя на обработку своих персональных данных Администрацией сайта в рамках действующего законодательства Беларуси о неприкосновенности личной информации.</p>
    <p>Пользователь также подтверждает свое согласие на передачу своих персональных данных Администрацией сайта 4k.by партнерам, которые будут осуществлять оказание услуг Пользователю.</p>
    <p>Деятельность Администрации сайта 4k.by осуществляется строго в соответствии с законодательством 4k.byы. Любые претензии, споры, официальные обращения могут быть рассмотрены только в порядке, предусмотренном законодательством Беларуси.</p>
    <p>В случае если Пользователь не согласен с условиями данного Соглашения, то он должен немедленно прекратить использование интернет-ресурса 4k.by, а если он является зарегистрированным Пользователем, то незамедлительно удалить свой профиль и/или покинуть сайт.</p>
    <p style="margin-bottom: 1.5em">Любое использование сайта 4k.by означает, что Пользователь согласен со всеми условиями данного Соглашения.</p>
</section>