<section class="akzii">
    <section class="container">

            <section>
                <article class="akzii__item">
                    <div>
                        <section class="akzii__picture">
                            <div><a href="#"></a></div>
                        </section>
                        <section class="akzii__content">
                            <h2><a href="#">Четвертое колесо в подарок</a></h2>
                            <small><span>До <time datetime="2016-06-06">6 июня 2016</time></span><span class="akzii__active">Акция действует</span></small>
                            <p class="akzii__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <p class="news-list__arrow">
                                <a href=""><img src="dest/images/news-arrow.png"></a>
                            </p>
                        </section>

                    </div>
                </article>
                <article class="akzii__item">
                    <div>
                        <section class="akzii__picture">
                            <div><a href="#"></a></div>
                        </section>
                        <section class="akzii__content">
                            <h2><a href="#">Четвертое колесо в подарок</a></h2>
                            <small><span>До <time datetime="2016-06-06">6 июня 2016</time></span><span class="akzii__over">Акция завершена</span></small>
                            <p class="akzii__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <p class="news-list__arrow">
                                <a href=""><img src="dest/images/news-arrow.png"></a>
                            </p>
                        </section>

                    </div>
                </article>
                <article class="akzii__item">
                    <div>
                        <section class="akzii__picture">
                            <div><a href="#"></a></div>
                        </section>
                        <section class="akzii__content">
                            <h2><a href="#">Четвертое колесо в подарок</a></h2>
                            <small><span>До <time datetime="2016-06-06">6 июня 2016</time></span><span class="akzii__over">Акция завершена</span></small>
                            <p class="akzii__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <p class="news-list__arrow">
                                <a href=""><img src="dest/images/news-arrow.png"></a>
                            </p>
                        </section>

                    </div>
                </article>
                <article class="akzii__item">
                    <div>
                        <section class="akzii__picture">
                            <div><a href="#"></a></div>
                        </section>
                        <section class="akzii__content">
                            <h2><a href="#">Четвертое колесо в подарок</a></h2>
                            <small><span>До <time datetime="2016-06-06">6 июня 2016</time></span><span class="akzii__over">Акция завершена</span></small>
                            <p class="akzii__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <p class="news-list__arrow">
                                <a href=""><img src="dest/images/news-arrow.png"></a>
                            </p>
                        </section>

                    </div>
                </article>
            </section>
    </section>
</section>