<section class="akzii">
    <section class="container">
            <section>
                <article class="akzii__item" ng-repeat="akziya in akzii">
                    <div>
                        <section class="akzii__picture">
                            <div><a ui-sref="home.akzii.akziya({akziya: akziya.id})"></a></div>
                        </section>
                        <section class="akzii__content">
                            <h2><a ui-sref="home.akzii.akziya({akziya: akziya.id})" ng-bind="akziya.title"></a></h2>
                            <small>
                                <span>До
                                    <time ng-bind="akziya.activeTo | dateRus"></time>
                                </span>

                            </small>
                            <p class="akzii__text" ng-bind="akziya.previewText"></p>
                            <p class="news-list__arrow">
                                <a ui-sref="home.akzii.akziya({akziya: akziya.id})"><img src="dest/images/news-arrow.png"></a>
                            </p>
                        </section>

                    </div>
                </article>


            </section>
    </section>
</section>