<page-title></page-title>

<article class="container">
    <section class="col-sm-6">
        <section class="calculator__scheme">
            <img src="dest/images/calculator.jpg">
        </section>
        <h2>Старый размер</h2>
        <section class="col-xs-4">
            <label class="tab1__select">
                <span class="select__label" ng-show="!width">Ширина*</span>
                <select id="widthSelect" ng-model="width" class="form-control select">
                    <option>145</option>
                    <option>155</option>
                    <option>165</option>
                    <option>175</option>
                    <option>185</option>
                    <option>195</option>
                    <option>205</option>
                    <option>215</option>
                    <option>225</option>
                    <option>235</option>
                    <option>245</option>
                    <option>255</option>
                    <option>265</option>
                </select>
            </label>
        </section>
        <section class="col-xs-4">
            <label class="tab1__select">
                <span class="select__label" ng-show="!width">Ширина*</span>
                <select id="widthSelect" ng-model="width" class="form-control select">
                    <option>145</option>
                    <option>155</option>
                    <option>165</option>
                    <option>175</option>
                    <option>185</option>
                    <option>195</option>
                    <option>205</option>
                    <option>215</option>
                    <option>225</option>
                    <option>235</option>
                    <option>245</option>
                    <option>255</option>
                    <option>265</option>
                </select>
            </label>
        </section>
        <section class="col-xs-4">
            <div>
                <label class="tab1__select">
                    <span class="select__label" ng-show="!width">Ширина*</span>
                    <select id="widthSelect" ng-model="width" class="form-control select">
                        <option>145</option>
                        <option>155</option>
                        <option>165</option>
                        <option>175</option>
                        <option>185</option>
                        <option>195</option>
                        <option>205</option>
                        <option>215</option>
                        <option>225</option>
                        <option>235</option>
                        <option>245</option>
                        <option>255</option>
                        <option>265</option>
                    </select>
                </label>
            </div>
        </section>
        <h2 class="clearfix">Новый размер</h2>
        <section class="col-xs-4">
            <label class="tab1__select">
                <span class="select__label" ng-show="!width">Ширина*</span>
                <select id="widthSelect" ng-model="width" class="form-control select">
                    <option>145</option>
                    <option>155</option>
                    <option>165</option>
                    <option>175</option>
                    <option>185</option>
                    <option>195</option>
                    <option>205</option>
                    <option>215</option>
                    <option>225</option>
                    <option>235</option>
                    <option>245</option>
                    <option>255</option>
                    <option>265</option>
                </select>
            </label>
        </section>
        <section class="col-xs-4">
            <label class="tab1__select">
                <span class="select__label" ng-show="!width">Ширина*</span>
                <select id="widthSelect" ng-model="width" class="form-control select">
                    <option>145</option>
                    <option>155</option>
                    <option>165</option>
                    <option>175</option>
                    <option>185</option>
                    <option>195</option>
                    <option>205</option>
                    <option>215</option>
                    <option>225</option>
                    <option>235</option>
                    <option>245</option>
                    <option>255</option>
                    <option>265</option>
                </select>
            </label>
        </section>
        <section class="col-xs-4">
            <label class="tab1__select">
                <span class="select__label" ng-show="!width">Ширина*</span>
                <select id="widthSelect" ng-model="width" class="form-control select">
                    <option>145</option>
                    <option>155</option>
                    <option>165</option>
                    <option>175</option>
                    <option>185</option>
                    <option>195</option>
                    <option>205</option>
                    <option>215</option>
                    <option>225</option>
                    <option>235</option>
                    <option>245</option>
                    <option>255</option>
                    <option>265</option>
                </select>
            </label>
        </section>

        <p class="clearfix">Разница в показаниях спидометра и реальной скоростью зависит от скорости автомобиля - чем больше скорость, тем больше разница</p>
    </section>
    <section class="col-sm-6">
        <table class="table">
            <thead>
                <tr><th>Внешние размеры</th><th>Старый</th><th>Новый</th><th>Размеры</th></tr>
            </thead>
            <tbody>
                <tr><td>Ширина шины, мм (A)</td><td></td><td></td><td></td></tr>
                <tr><td>Высота профиля, мм (B)</td><td></td><td></td><td></td></tr>
                <tr><td>Внутренний диаметр, мм (C)</td><td></td><td></td><td></td></tr>
                <tr><td>Внешний диаметр, мм (D)</td><td></td><td></td><td></td></tr>
                <tr><td>Изменение дорожного просвета, мм</td><td></td><td></td><td></td></tr>
            </tbody>
        </table>
        <table class="table">
            <thead>
            <tr><th>Показания спидометра</th><th></th></tr>
            </thead>
            <tbody>
            <tr><td>Показания спидометра, км/ч</td><td><input type="text"></td></tr>
            <tr><td>Реальная скорость, км/ч</td><td></td></tr>
            <tr><td>Разница, км/ч</td><td></td></tr>
            </tbody>
        </table>

    </section>
</article>