<article class="container">
    <section class="col-md-6">
        <section class="calculator__scheme">
            <img src="dest/images/calculator.jpg">
        </section>
        <section class="calculator__inputs">
            <h2>Старый размер</h2>
            <section class="col-xs-4">
                <div class="calculator__input">
                    <gkg-select name="widthOld" options="widths" placeholder="Ширина*" parent-scope="scope" parent-variable="widthOld"></gkg-select>
                </div>
            </section>
            <section class="col-xs-4">
                <div class="calculator__input">
                    <gkg-select name="heightOld" options="heights" placeholder="Высота*" parent-scope="scope" parent-variable="heightOld"></gkg-select>
                </div>

            </section>
            <section class="col-xs-4">
                <div class="calculator__input">
                    <gkg-select name="diameterOld" options="diameters" placeholder="Диаметр*" parent-scope="scope" parent-variable="diameterOld"></gkg-select>
                </div>
            </section>
            <section  class="clearfix"></section>
        </section>

        <section class="calculator__inputs">
            <h2>Новый размер</h2>
            <section class="col-xs-4">
                <div class="calculator__input">
                    <gkg-select name="widthNew" options="widths" placeholder="Ширина*" parent-scope="scope" parent-variable="widthNew"></gkg-select>
                </div>
            </section>
            <section class="col-xs-4">
                <div class="calculator__input">
                    <gkg-select name="heightNew" options="heights" placeholder="Высота*" parent-scope="scope" parent-variable="heightNew"></gkg-select>
                </div>
            </section>
            <section class="col-xs-4">
                <div class="calculator__input">
                    <gkg-select name="diameterNew" options="diameters" placeholder="Диаметр*" parent-scope="scope" parent-variable="diameterNew"></gkg-select>
                </div>
            </section>
            <section  class="clearfix"></section>
        </section>


        <p class="calculator__info">Разница в показаниях спидометра и реальной скоростью зависит от скорости автомобиля - чем больше скорость, тем больше разница</p>
    </section>
    <section class="col-md-6">
        <table class="table calculator__table">
            <thead>
                <tr><th>Внешние размеры</th><th>Старый</th><th>Новый</th><th>Разница</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ширина шины, мм (A)</td>
                    <td ng-bind="widthOld"></td>
                    <td ng-bind="widthNew"></td>
                    <td><span ng-bind="widthNew - widthOld" ng-show="widthNew && widthOld"></span></td>
                </tr>
                <tr>
                    <td>Высота профиля, мм (B)</td>
                    <td><span ng-bind="widthOld*heightOld | round" ng-show="widthOld && heightOld"></span></td>
                    <td><span ng-bind="widthNew*heightNew | round" ng-show="widthNew && heightNew"></span></td>
                    <td><span ng-bind="(widthNew*heightNew - widthOld*heightOld) | round" ng-show="widthNew && heightNew && widthOld && heightOld"></span></td>
                </tr>
                <tr>
                    <td>Внутренний диаметр, мм (C)</td>
                    <td><span ng-bind="diameterOld | inchesToMillimeters | round" ng-show="diameterOld"></span></td>
                    <td><span ng-bind="diameterNew | inchesToMillimeters | round" ng-show="diameterNew"></span></td>
                    <td><span ng-bind="(diameterNew | inchesToMillimeters | round) - (diameterOld | inchesToMillimeters | round)" ng-show="diameterOld && diameterNew"></span></td>
                </tr>
                <tr>
                    <td>Внешний диаметр, мм (D)</td>
                    <td><span ng-bind="(widthOld*heightOld*2 | round) + (diameterOld | inchesToMillimeters | round)" ng-show="diameterOld && widthOld && heightOld"></span></td>
                    <td><span ng-bind="(widthNew*heightNew*2 | round) + (diameterNew | inchesToMillimeters | round)" ng-show="diameterNew && widthNew && heightNew"></span></td>
                    <td><span ng-bind="(widthNew*heightNew*2 | round) + (diameterNew | inchesToMillimeters | round) - (widthOld*heightOld*2 | round) - (diameterOld | inchesToMillimeters | round)" ng-show="diameterNew && widthNew && heightNew && diameterOld && widthOld && heightOld"></span></td>
                </tr>
                <tr>
                    <td>Изменение дорожного просвета, мм</td>
                    <td></td>
                    <td></td>
                    <td><span ng-bind="((widthNew*heightNew*2 | round) + (diameterNew | inchesToMillimeters | round) - (widthOld*heightOld*2 | round) - (diameterOld | inchesToMillimeters | round))/2" ng-show="diameterNew && widthNew && heightNew && diameterOld && widthOld && heightOld"></span></td>

                </tr>
            </tbody>
        </table>
        <table class="table calculator__table">
            <thead>
            <tr><th>Показания спидометра</th><th></th></tr>
            </thead>
            <tbody>
            <tr><td>Показания спидометра, км/ч</td><td><input type="text"  ng-model = "speed"></td></tr>
            <tr>
                <td>Реальная скорость, км/ч</td>
                <td><span ng-bind="(widthNew*heightNew*2 + (diameterNew | inchesToMillimeters))/(widthOld*heightOld*2 + (diameterOld | inchesToMillimeters))*speed | toFixed2" ng-show="diameterNew && widthNew && heightNew && diameterOld && widthOld && heightOld"></span></td>
            </tr>
            <tr>
                <td>Разница, км/ч</td>
                <td><span ng-bind="((widthNew*heightNew*2 + (diameterNew | inchesToMillimeters))/(widthOld*heightOld*2 + (diameterOld | inchesToMillimeters))*speed - speed) | toFixed2" ng-show="diameterNew && widthNew && heightNew && diameterOld && widthOld && heightOld"></span></td>

            </tr>
            </tbody>
        </table>

    </section>
</article>