<section class="help-us hidden-xs">
    <div class="container">
        <div>
                    <span class="help-us__icon">
                        <i class="glyphicon glyphicon-info-sign"></i>
                    </span>
            <div class="help-us__text">
                <span>
                    Данный расчет размеров шин носит теоретический характер. Без крайней необходимости не устанавливайте шины, не рекомендованные производителем.
                </span>
                <ul>Перед установкой шин следует:
                    <li>удостовериться, что желаемое изменение не вызовет никаких проблем (габариты, механика, кузов...);</li>
                    <li>следить, чтобы вновь монтируемые шины соответствовали действующим правилам;</li>
                    <li>проверить, чтобы диаметр и ширина обода соответствовали параметрам шины.</li>
                </ul>
                <span>Помните также, что при изменении размеров шины, как правило, изменяется индекс нагрузки.</span>

            </div>



        </div>

    </div>
</section>