<section class="container">
    <section class="row">
        <section class="col-sm-6">
            <h2>Базовая комплектация</h2>
            <table class="table">

            </table>
        </section>
        <section class="col-sm-6">
            <h2>Варианты замены</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Посадочный диаметр</th>
                        <th>Типоразмер</th>
                        <th>Применимость</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </section>

</section>