<footer class="footer">
    <div class="container">
        <span class="footer__text hidden-lg hidden-md hidden-sm"><small>2010 &ndash; 2016 © Интернет-магазин шин и дисков 4k.by</small></span>
        <ul class="list-inline hidden-xs">

            <li class="col-sm-3">
                <h4 class="footer__subtitle">Для покупателя</h4>
                <ul class="list-unstyled">
                    <li><a  ui-sref="home.oplata-dostavka">Оплата и доставка</a></li>
                    <li><a  ui-sref="home.warranty">Гарантия на шины</a></li>
                    <li><a ui-sref="home.company">О компании</a></li>
                    <li><a  ui-sref="home.contacts">Контакты</a></li>
                </ul>
            </li>
            <li class="col-sm-3">
                <h4 class="footer__subtitle">Каталог шин</h4>
                <ul class="list-unstyled">
                    <li><a ui-sref="home.tires">Легковые шины</a></li>
                </ul>
            </li>
            <li class="col-sm-3">
                <h4 class="footer__subtitle">Услуги и сервис</h4>
                <ul class="list-unstyled">
                    <li><a href="#">Онлайн подбор шин</a></li>
                    <li><a href="#">Подбор шин по авто</a></li>
                </ul>
            </li>

            <li class="col-sm-3">
                <h4 class="footer__subtitle">Мы в социальных сетях</h4>
                <ul class="list-inline footer__socials">
                    <li>
                        <a href="#" class="footer__social"></a>
                    </li>
                    <li>
                        <a href="#" class="footer__social footer__social_fb"></a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
    <section class="bottom-panel" ng-controller="FooterCtrl">
        <div class="bottom-panel__open"  ng-click = "showFixedPanel($event)">
            <a href="" uib-tooltip="Нажмите, чтобы открыть панель" tooltip-placement="top-left" >
                <i class="glyphicon glyphicon-plus"></i>
            </a>
        </div>
        <ul class="bottom-panel__list list-inline">
            <li class="bottom-panel__item">
                <a href="" uib-tooltip="Задать вопрос on-line"
                   tooltip-placement="top"
                   tooltip-trigger="'mouseenter'">
                    <img class="bottom-panel__image" src="dest/images/sh.png">
                    <span class="bottom-panel__text hidden-xs">Задать вопрос</span>
                </a>
            </li>
            <li class="bottom-panel__item">
                <a href="" uib-tooltip="Недавно просмотренные товары!" data-toggle="modal" data-target="#recentGoods"
                   tooltip-placement="top"
                   tooltip-trigger="'mouseenter'">
                    <img class="bottom-panel__image" src="dest/images/viewed.png">
                    <span class="hidden-xs bottom-panel__text">Недавно просмотенные</span>
                </a>
            </li>
            <li class="bottom-panel__item">
                <a href="" uib-tooltip="Избранные товары"
                   tooltip-placement="top"
                   tooltip-trigger="'mouseenter'">
                    <img  class="bottom-panel__image " src="dest/images/favorites.png">
                </a>
            </li>
            <li class="bottom-panel__item">
                <a href="" data-target="#search" data-toggle="modal"
                   uib-tooltip="Нажмите, чтобы открыть окно поиска."
                   tooltip-placement="top"
                   tooltip-trigger="'mouseenter'">
                    <img class="bottom-panel__image" src="dest/images/search.png">
                </a>
            </li>
            <li class="bottom-panel__item">
                <a href="" uib-tooltip="Нажмите чтобы скрыть панель"
                   tooltip-placement="top"
                   tooltip-trigger="'mouseenter'"
                   ng-click = "hideFixedPanel($event)"
                >
                    <i class="glyphicon glyphicon-minus"></i>
                </a>
            </li>
        </ul>
    </section>
</footer>


<div class="scroll-up">
    <img class="scroll-up__image" src="dest/images/anchor.png" anchor>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="recentGoods">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="glyphicon glyphicon-remove"></i></span></button>
                <h4 class="modal-title">Вы также просматривали</h4>
            </div>
            <div class="modal-body">
                <article class="brand brand_modal">

                    <section class="brand__picture-wrap">
                        <img class="brand__picture" src="dest/images/bridgestone1.png">
                        <img class="brand__season" src="dest/images/season-winter.png">
                    </section>
                    <section class="brand__title">
                        <a href=""><strong>salksa; a;lskal</strong></a>
                    </section>
                    <section class="brand__score">
                        <section class="score-block__score-wrap">
                            <section class="score-block__score" ng-style="{width:(model.score | score)}"></section>
                        </section>
                    </section>
                    <section class="brand__button">
                        <a href="#" class="btn btn-primary">Подробнее</a>
                    </section>
                </article>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->