<header class="header panel panel-default">
    <div class="panel-heading header-top">
        <div class="container">
            <section class="row">
                <section class="col-xs-4 hidden-sm hidden-sm hidden-md hidden-lg">
                    <a ui-sref="home"><img class="header-top__logo" src="dest/images/logo_long.png"></a>
                </section>
                <section class="col-sm-3 col-xs-6 header-top__schedule-wrapper hidden-xs">
                    <img src="dest/images/small-clock.png">
                    <small class="header-top__schedule"> <span ng-bind="siteData.schedule">с 9-00 до 20-00</span><span class="hidden-sm"> без выходных</span></small>
                </section>
                <section class="col-sm-offset-1 col-sm-5  col-xs-8">
                    <ul class="list-inline header-top__phones">
                        <li class="header-top__phone_main">
                            <img class="header-top__phone-icon hidden-lg hidden-md hidden-sm" src="dest/images/phone-icon.png">
                            <img class="header-top__phone-icon hidden-xs" src="dest/images/i-mts.png">
                            <small><a href="tel:{{siteData.phoneFirst}}"><strong ng-bind="siteData.phoneFirst"></strong></a></small></li>
                        <li class="hidden-sm hidden-md hidden-lg header-top__phone_main">
                            <a ng-click="openModalMorePhones();" href="">+</a>
                        </li>
                        <li class="hidden-xs header-top__phone">
                            <img class="header-top__phone-icon_small" src="dest/images/i-velc.png">
                            <small><a href="tel:{{siteData.phoneSecond}}"><strong ng-bind="siteData.phoneSecond"></strong></a></small>
                        </li>
                    </ul>
                </section>
                <section class="col-sm-3 hidden-xs">
                    <a href = "" ng-click="openModalCallMe();" class = "header-top__phone-me text-center pull-right"> <!--data-toggle = "modal" data-target = "#callBack"-->
                        <img src="dest/images/call_me.png"> Позвоните мне
                    </a>
                </section>
            </section>
        </div>
    </div>
    <div condense-on-scroll class="panel-body header-bottom">
        <div class="container">
            <a open-menu-mobile href="#" do-not-follow class="mobile-menu__icon hidden-sm hidden-md hidden-lg"></a>
            <nav class="menu-mobile hidden-sm hidden-md hidden-lg">
                <div class="close menu-mobile__close"  close-menu-mobile><i class="glyphicon glyphicon-remove"></i></div>
                <ul ng-repeat="section in menu">
                    <li class="menu-mobile__item"><a href="#" ng-bind="section.title"></a>
                        <ul class="menu-mobile__subsection" ng-show="section.subsections">
                            <li ng-repeat="subsection in section.subsections">
                                <a href="#" ng-bind="subsection.title"></a>
                                <ul class="menu-mobile__subsubsection"  ng-show="subsection.subsections">
                                    <li ng-repeat="subsection in subsection.subsections">
                                        <a href="#" ng-bind="subsection.title"></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="menu-mobile__cover hidden-sm hidden-md hidden-lg" close-menu-mobile></div>
            <a href="#" class="header-bottom__logo-anchor pull-left hidden-xs">
                <img class="header-bottom__logo" src="dest/images/logo.png">
            </a>

            <menu></menu>

            <nav class="tools-menu">
                <ul class="tools-menu__list header-bottom__tools">
                    <li class="tools-menu__item">
                        <a href="" ng-click="openModalSearch();">
                            <i class="glyphicon glyphicon-search tools-menu__icon"></i>
                            <span class="hidden-sm hidden-md hidden-xs">Поиск</span>
                        </a>
                    </li>
                    <li class="tools-menu__item user-menu__parent" user-menu>
                        <a href="" class="hidden-lg tools-menu__logged-in" ng-if="user.loggedIn">
                            <i class="glyphicon glyphicon-user tools-menu__icon"></i>
                            <i class="glyphicon glyphicon-ok tools-menu__ok"></i>
                        </a>
                        <a href="" ng-if="!user.loggedIn" class="hidden-lg" ng-click="openModalLogIn();">
                            <i class="glyphicon glyphicon-user tools-menu__icon"></i>
                        </a>
                        <i class="hidden-sm hidden-md hidden-xs glyphicon glyphicon-user tools-menu__icon"></i>
                        <ul class="hidden-sm hidden-md hidden-xs" ng-if="!user.loggedIn">
                            <li><a href=""><span class="hidden-sm hidden-md hidden-xs" ng-click="openModalLogIn();">Вход</span></a></li>
                            <li><a href=""><span class="hidden-sm hidden-md hidden-xs" ng-click="openModalRegister();">Регистрация</span></a></li>

                        </ul>
                        <a class="hidden-sm hidden-md hidden-xs" href="" ng-if="user.loggedIn"><span ng-bind="user.login"></span></a>
                    </li>
                    <li class="tools-menu__item tools-menu__cart">
                        <a class="tools-menu__logged-in"
                           href=""
                           tooltip-enable="!user.cartItems.length"
                           uib-tooltip="Ваша корзина пуста"
                           tooltip-placement="bottom-right"
                           tooltip-trigger="'mouseenter'">
                            <i class="glyphicon glyphicon-shopping-cart tools-menu__icon"></i>
                            <span ng-if="user.cartItems.length" class="tools-menu__cart-open" ng-click="openModalCart();">
                                <span   class="tools-menu__ok" ng-bind="user.cartItems.length"></span>
                            </span>

                        </a>

                    </li>
                </ul>
            </nav>

        </div>

        <div class="submenu" id="submenu" ng-show="submenuShown"  hide-on-scroll hide-on-misclick><!-- hide-on-scroll--><!--ng-bind-html="subMenuContent"--><!--ng-bind-html="subMenuContent"-->

        </div>
    </div>
</header>