<ul class="menu pull-left header-bottom__menu">
    <li ng-click="showSubmenu($event);" submenu-title data-html="templates/tires-and-rims.html" class="header-bottom__menu-item menu__item menu__item_dropdown"><a href="#"><span class="menu__text">Шины и диски</span></a></li>
    <li ng-click="showSubmenu($event);" submenu-title class="header-bottom__menu-item menu__item menu__item_dropdown" data-html="templates/tests-reviews.html"><a href="#"><span class="menu__text">Тесты и обзоры</span></a></li>
    <li class="header-bottom__menu-item menu__item"><a href="#"><span class="menu__text">Оплата и доставка</span></a></li>
    <li class="header-bottom__menu-item menu__item"><a href="#"><span class="menu__text">Акции</span></a></li>
    <li class="header-bottom__menu-item menu__item"><a href="#"><span class="menu__text">Контакты</span></a></li>
</ul>