<div class="modal-header">
    <button type="button" ng-click="$ctrl.close()" class="close" aria-label="Close"><span aria-hidden="true"><i class="glyphicon glyphicon-remove"></i></span></button>
    <h4 class="modal-title">Заявка на обратный звонок</h4>
</div>
<div class="modal-body">
    <p>Для того что бы оставить заявку на обратный звонок, пожалуйста, заполните форму ниже:</p>
    <form>
        <div class="form-group modal-phone-me__half modal-phone-me__half_left">
            <input type="text" class="form-control" placeholder="ФИО *">
        </div>
        <div class="form-group modal-phone-me__half modal-phone-me__half_right">
            <input type="text" class="form-control" placeholder="Телефон *">
        </div>
        <select class="form-control modal-phone-me__select">
            <option selected>Выберите тему</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
        <textarea placeholder="Комментарий" class="form-control" rows="3"></textarea>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-warning">Отправить</button>
</div>

