<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="$ctrl.close();"><span aria-hidden="true"><i class="glyphicon glyphicon-remove"></i></span></button>
    <h4 class="modal-title">Корзина</h4>
</div>
<div class="modal-body"  cart  user="$ctrl.user"></div>
<div class="modal-footer">
    <span class="about__anchor modal-cart__continue-btn pull-left" ng-click="$ctrl.close();">Продолжить покупки</span>
    <a ui-sref="home.cart" class="modal-cart__order-btn btn btn-warning" ng-click="$ctrl.close();">Оформить заказ</a>
</div>