<article>
    <div class="container">
        <uib-tabset active="index" justified="true">
            <uib-tab index="0" heading="В наличии" template-url="templates/model-tab-heading.html">
                <section class="in-stock">
                    <div>
                        <p>Выберите подходящий размер в таблице:</p>
                        <table>
                            <tr>
                                <th></th><th>Типоразмер</th><th class="hidden-xs">Индекс нагрузки</th><th class="hidden-xs">Индекс скорости</th><th><span class="hidden-xs">Кол-во, шт</span><span class="hidden-lg hidden-md hidden-sm">Шт.</span></th><th>Цена, р.</th><th></th>
                            </tr>
                            <tr>
                                <td class="in-stock__diameter">13"</td><td><a href="#">175/70R13</a></td><td class="hidden-xs">82 (475 кг)</td><td class="hidden-xs">T (190 км/ч)</td><td>2</td><td class="in-stock__price">1263.00</td><td><button class="btn btn-success"><span class="hidden-xs">Купить </span><i class="glyphicon glyphicon-shopping-cart"></i></button></td>
                            </tr>
                            <tr>
                                <td class="in-stock__diameter" rowspan="2">14"</td><td><a href="#">175/70R13</a></td><td class="hidden-xs">82 (475 кг)</td><td class="hidden-xs">T (190 км/ч)</td><td>2</td><td class="in-stock__price">1263.00</td><td><button class="btn btn-success"><span class="hidden-xs">Купить </span><i class="glyphicon glyphicon-shopping-cart"></i></button></td>
                            </tr>
                            <tr>
                                <td><a href="#">175/70R13</a></td><td class="hidden-xs">82 (475 кг)</td><td class="hidden-xs">T (190 км/ч)</td><td>2</td><td class="in-stock__price">1263.00</td><td><button class="btn btn-success"><span class="hidden-xs">Купить </span><i class="glyphicon glyphicon-shopping-cart"></i></button></td>
                            </tr>
                            <tr>
                                <td class="in-stock__diameter" rowspan="2">15"</td><td><a href="#">175/70R13</a></td><td class="hidden-xs">82 (475 кг)</td><td class="hidden-xs">T (190 км/ч)</td><td>2</td><td class="in-stock__price">1263.00</td><td><button class="btn btn-success"><span class="hidden-xs">Купить </span><i class="glyphicon glyphicon-shopping-cart"></i></button></td>
                            </tr>
                            <tr>
                                <td><a href="#">175/70R13</a></td><td class="hidden-xs">82 (475 кг)</td><td class="hidden-xs">T (190 км/ч)</td><td>2</td><td class="in-stock__price">1263.00</td><td><button class="btn btn-success"><span class="hidden-xs">Купить </span><i class="glyphicon glyphicon-shopping-cart"></i></button></td>
                            </tr>
                            <tr>
                                <td class="in-stock__diameter">16"</td><td><a href="#">175/70R13</a></td><td class="hidden-xs">82 (475 кг)</td><td class="hidden-xs">T (190 км/ч)</td><td>2</td><td class="in-stock__price">1263.00</td><td><button class="btn btn-success"><span class="hidden-xs">Купить </span><i class="glyphicon glyphicon-shopping-cart"></i></button></td>
                            </tr>
                        </table>
                    </div>
                </section>
            </uib-tab>
            <uib-tab index="1" heading="Нет в наличии" template-url="">
                <section class="in-stock">
                    <div>
                        <p>Выберите подходящий размер в таблице:</p>
                        <table>
                            <tr>
                                <th></th><th>Типоразмер</th><th class="hidden-xs">Индекс нагрузки</th><th class="hidden-xs">Индекс скорости</th><th>Цена, р.</th><th></th>
                            </tr>
                            <tr>
                                <td class="in-stock__diameter">13"</td><td><a href="#">175/70R13</a></td><td class="hidden-xs">82 (475 кг)</td><td class="hidden-xs">T (190 км/ч)</td><td class="in-stock__price">1263.00</td><td class="in-stock__no">Нет в наличии</td>
                            </tr>
                            <tr>
                                <td class="in-stock__diameter" rowspan="2">14"</td><td><a href="#">175/70R13</a></td><td class="hidden-xs">82 (475 кг)</td><td class="hidden-xs">T (190 км/ч)</td><td class="in-stock__price">1263.00</td><td class="in-stock__no">Нет в наличии</td>
                            </tr>
                            <tr>
                                <td><a href="#">175/70R13</a></td><td class="hidden-xs">82 (475 кг)</td><td class="hidden-xs">T (190 км/ч)</td><td class="in-stock__price">1263.00</td><td class="in-stock__no">Нет в наличии</td>
                            </tr>
                            <tr>
                                <td class="in-stock__diameter" rowspan="2">15"</td><td><a href="#">175/70R13</a></td><td class="hidden-xs">82 (475 кг)</td><td class="hidden-xs">T (190 км/ч)</td><td class="in-stock__price">1263.00</td><td class="in-stock__no">Нет в наличии</td>
                            </tr>
                            <tr>
                                <td><a href="#">175/70R13</a></td><td class="hidden-xs">82 (475 кг)</td><td class="hidden-xs">T (190 км/ч)</td><td class="in-stock__price">1263.00</td><td class="in-stock__no">Нет в наличии</td>
                            </tr>
                            <tr>
                                <td class="in-stock__diameter">16"</td><td><a href="#">175/70R13</a></td><td class="hidden-xs">82 (475 кг)</td><td class="hidden-xs">T (190 км/ч)</td><td class="in-stock__price">1263.00</td><td class="in-stock__no">Нет в наличии</td>
                            </tr>
                        </table>
                    </div>
                </section>
            </uib-tab>
            <uib-tab index="2" ng-click="changeState('description');" heading="Описание" template-url="">
                <section class="description">
                    <section class="col-sm-4 col-md-3">
                        <img class="description__logo" src="dest/images/brand1.png">
                        <section class="description__image-block">
                            <img src="dest/images/bridgestone1.png" class="description__image">
                            <img src="dest/images/season-winter.png" class="description__season">
                            <img src="dest/images/hot_0.png" class="description__banner">
                        </section>
                        <section class="score-block">
                            <p><strong>Общая оценка пользователей</strong></p>
                            <section class="score-block__total-score-wrap">
                                <section class="score-block__total-score" ng-style="{width:(score.total | score)}"></section>
                            </section>
                            <p><small><span ng-bind="score.total"></span> из 5 на основании 5 оценок</small></p>
                            <p class="score-block__parameter">Качество изготовления</p>
                            <section class="score-block__score-wrap">
                                <section class="score-block__score" ng-style="{width:(score.par1 | score)}"></section>
                            </section>
                            <p class="score-block__parameter">Соотношение цена/качество</p>
                            <section class="score-block__score-wrap">
                                <section class="score-block__score" ng-style="{width:(score.par2 | score)}"></section>
                            </section>
                            <p class="score-block__parameter">Удобство эксплуатации</p>
                            <section class="score-block__score-wrap">
                                <section class="score-block__score" ng-style="{width:(score.par3 | score)}"></section>
                            </section>
                            <a class="score-block__anchor" ui-sref="home.tires.brand.model({brand:brand,model:model,tab:'comments'})">Показать отзывы</a>
                        </section>
                    </section>
                    <section class="col-sm-8 col-md-9">
                        <div class="description__controls" >
                            <section class="col-sm-4" >
                                <select class="form-control" ng-model="data.model" ng-change="showModelInfo();">
                                    <optgroup label="R15">
                                        <option value="185/85R15">185/85R15</option>
                                        <option value="185/90R15">185/90R15</option>
                                    </optgroup>
                                    <optgroup label="German Cars">
                                        <option value="mercedes">Mercedes</option>
                                        <option value="audi">Audi</option>
                                    </optgroup>
                                </select>
                            </section>
                            <section class="col-sm-offset-4 col-sm-4"></section>
                            <section class="clearfix"></section>
                        </div>
                        <section ng-show="data.model" class="model__right  description__controls">
                            <div class="row">
                                <section class="col-sm-6">
                                    <h2 class="model__title model__title_top"><a href="#">Bridgestone Blizzak VRX</a></h2>
                                    <p class="model__characteristic">Размер: <span>185/55R15</span></p>
                                    <p class="model__characteristic">Индекс нагрузки: <span>82 (475 кг)</span></p>
                                    <p class="model__characteristic">Индекс скорости: <span>S (180 км/ч)</span></p>
                                    <p class="model__characteristic">Шипованная: <span>шип.</span></p>
                                    <p class="model__characteristic">Страна производства: <span>Япония</span></p>
                                </section>
                                <section class="col-sm-6">
                                    <section class="model__advantages hidden-xs">
                                        <div class="row model__advantage">
                                            <div class="col-sm-3 col-md-2" >
                                                <img src="dest/images/adv1.png">
                                            </div>
                                            <div class="col-sm-9 col-md-10">
                                                <p><strong>Полная гарантия от Bridgestone</strong></p>
                                                <p>при покупке от двух шин</p>
                                            </div>
                                        </div>
                                        <div class="row model__advantage">
                                            <div class="col-sm-3 col-md-2" >
                                                <img src="dest/images/adv2.png">
                                            </div>
                                            <div class="col-sm-9 col-md-10">
                                                <p><strong>Гарантия производителя</strong></p>
                                                <p>заводская гарантия 5 лет</p>
                                            </div>
                                        </div>
                                        <div class="row model__advantage">
                                            <div class="col-sm-3 col-md-2">
                                                <img src="dest/images/adv3.png">
                                            </div>
                                            <div class="col-sm-9 col-md-10">
                                                <p><strong>Отправка в течение 24 часов</strong></p>
                                                <p>с собственного склада</p>
                                            </div>
                                        </div>
                                    </section>
                                    <section class="model__buy">
                                        <section class="model__price">50 р.</section>
                                        <section class="row">
                                            <section class="col-xs-7 col-md-6">
                                                <button class="btn btn-reverse model__quantity-btn"><i class="glyphicon glyphicon-minus"></i></button>
                                                <input type="text" class="form-control model__quantity">
                                                <button class="btn btn-reverse model__quantity-btn"><i class="glyphicon glyphicon-plus"></i></button>
                                            </section>
                                            <section class="col-xs-5 col-md-6">
                                                <button class="btn btn-success form-control"><i class="glyphicon glyphicon-shopping-cart"></i> Купить</button>
                                            </section>
                                        </section>
                                        <p class="model__in-stock">Доступно: <span class="model__stockpile">8</span> шт.</p>
                                    </section>
                                </section>

                            </div>

                        </section>
                        <section class="description__controls">
                            <p>
                                Зимняя фрикционная шина <strong>Bridgestone Blizzak VRX</strong> c асимметричным рисунком протектора для легковых автомобилей. Разработана с применением ультрасовременных технологий Bridgestone. В составе резиновой смеси использован новый Multicell Compound, увеличен ресурс шины, улучшены сцепные свойства на снегу и льду.
                            </p>

                            <ul>
                                <strong>Преимущества:</strong>
                                <li>Короткий тормозной путь на льду.</li>
                                <li>Короткий тормозной путь на льду.</li>
                                <li>Короткий тормозной путь на льду.</li>
                            </ul>

                            <ul>
                                <strong>Выгоды:</strong>
                                <li>Безопасность на льду и снегу</li>
                                <li>Безопасность на льду и снегу</li>
                                <li>Сохранение высоких эксплуатационных характеристик на протяжении всего срока эксплуатации шины.</li>
                            </ul>

                        </section>
                    </section>
                </section>
            </uib-tab>
            <uib-tab index="3" heading="Тесты и обзоры(3)" template-url="">Long Labeled Justified content</uib-tab>
            <uib-tab index="4" ng-click="showComments()" heading="Отзывы(3)" template-url="">
                <section class="comments" ng-init="showComments()">
                    <div>
                        <div class="text-right comments__button">
                            <button class="btn btn-primary">Оставить отзыв</button>
                        </div>
                        <div class="clearfix"> </div>

                        <article class="comment" ng-repeat="comment in comments">
                            <div>
                                <section class="comment__left col-xs-3">
                                    <p class="comment__user"><strong ng-bind="comment.user"></strong></p>
                                    <p class="comment__date"><small ng-bind="comment.date"></small></p>
                                </section>
                                <section class="comment__right col-xs-9">
                                    <section class="score-block__score-wrap comment__score">
                                        <section class="score-block__score" ng-style="{width:(comment.score | score)}"></section>
                                    </section>
                                    <section class="comment__text" ng-bind="comment.text"></section>

                                    <p class="comment__ok">
                                        Отзыв полезен?
                                        <a href="#" class="comment__yes" ng-click="commentGood(comment)" do-not-follow>Да</a>: <span ng-bind="comment.yes"></span>
                                        <a href="#" class="comment__no" ng-click="commentShit(comment)" do-not-follow>Нет</a>: <span ng-bind="comment.no"></span>
                                    </p>

                                </section>
                                <div class="clearfix"></div>
                            </div>
                        </article>

                    </div>
                </section>
            </uib-tab>
        </uib-tabset>
    </div>
</article>