<div class="container">
    <div class="row">
        <!--сама статья-->
        <div class="news_list news-review__content col-sm-8 col-md-9">
            <div class="news-review__postdate">
                19.06.2016
            </div>
            <div class="news-review__banner">
                <img src="dest/images/news1.jpg">
            </div>
            <p>Эксперты словацкого автомобильного издания Autozurnal провели сравнительное тестирование летних моделей шин в типоразмере 225/45 R17. В данном испытании были использованы 8 покрышек разной ценовой категории. Извечный вопрос, который ставят организаторы большинства тестов: стоит ли покупать дорогие премиальные модели или воспользоваться бюджетным вариантов? Существует ли разница в эксплуатационных характеристиках?</p>
            <p>Эксперты словацкого автомобильного издания Autozurnal провели сравнительное тестирование летних моделей шин в типоразмере 225/45 R17. В данном испытании были использованы 8 покрышек разной ценовой категории. Извечный вопрос, который ставят организаторы большинства тестов: стоит ли покупать дорогие премиальные модели или воспользоваться бюджетным вариантов? Существует ли разница в эксплуатационных характеристиках?</p>
            <blockquote> <p>вот как правильно делать</p></blockquote>
            <p>Для испытаний были отобраны 8 моделей покрышек. Это:
                <a href="#">Bridgestone Turanza T001</a>,
                <a href="#"> Continental ContiSportContact 51</a>,
                <a href="#">   Dunlop Sport BluResponse1</a>,
                <a href="#">   Goodyear EfficientGrip Performance1</a>,
                <a href="#">    GT Radial Champiro HPY1</a>,
                <a href="#">    Matador MP 47 Hectorra 31</a>,
                <a href="#">    Nankang AS-2, V 1</a>
                <a href="#">   redestein Ultrac Sessanta 1</a>.
            </p>
            <p>Суть данного испытания состоит в том, что моделируется ситуация, при которой колеса должны проходить через толщу воды глубиной 9 мм. Порядка 15% нижней части покрышки будет в воде. От того, насколько хорошо развита система водоотводящих канавок, тем проще будет водителю справиться с подобной ситуацией. </p>
            <p> Позже всех эффект аквапланирования наступил у немецких покрышек, они «всплыли» на довольно высокой скорости 75,4 км/ч. Так что в условиях городской дороги при схожих обстоятельствах, беспокоиться за безопасность не нужно. Отличный результат продемонстрировали и китайские покрышки Nankang, чем вызвали немало удивления. Их второе место очень весомо для автошин этого ценового сегмента. Вторую ступеньку они разделили с Vredestein. Отставание от лидера всего 0,5 км/ч. Следом за тройкой лидеров с результатом 73,9 км/ч японские шины. Пятое и шестое место достаются Dunlop и Goodyear с результатом 72,5 км/ч и 72 км/ч, соответственно. Словацкий бренд Matador занимает предпоследнюю ступеньку, всего на 0,1 км/ч отстав от Goodyear, что само по себе и неплохо. А вот последнее место достается покрышкам GT Radial с результатом 69,4 км/ч.
            </p>

            <p> <a href="#modal" role="button" class="btn" data-toggle="modal"><img class="" src="dest/images/grafic.jpg"></a> </p>

             <blockquote> <p> Боковая устойчивость </p> </blockquote>
            <p> Среди всех моделей, принявших участие в данном тесте, единственным лидером, который имел успех почти во всех испытаниях, стал Continental ContiSportContact 5. Организаторы теста установили данную модель эталонной, поставив ей во всех номинациях (даже в тех, где Conti не получила первое место) 100 баллов. Далее, учитывая вес каждого испытания, оценивание прошли остальные 7 покрышек. В тех испытаниях, где показатель их был выше лидера гонки, им было начислено более 100 баллов.</p>

            <p> В результате математических вычислений, на вторую строчку рейтинга поднимается Dunlop Sport BluResponse, общий балл которой стал 96,9. На 0,4 балла меньше у Goodyear EfficientGrip Performance. Четвертое место достается еще одной премиальной модели - Bridgestone Turanza T001 </p>
            <p><img src="dest/images/table.jpg"></p>

            <div class="video-block">
                <iframe allowfullscreen="" src="https://www.youtube.com/embed/T-fVHOXgbB8" frameborder="0" width="500px">
                </iframe>
            </div>

            <div class="picture-gallery">
                <img class="" src="dest/images/pic-gallery.jpg">
                <img class="" src="dest/images/pic-gallery.jpg">
                <img class="" src="dest/images/pic-gallery.jpg">
                <img class="" src="dest/images/pic-gallery.jpg">
                <img class="" src="dest/images/pic-gallery.jpg">
                <img class="" src="dest/images/pic-gallery.jpg">
                <img class="" src="dest/images/pic-gallery.jpg">
            </div>



            <div class="clearfix"></div>




            <div class="news-review__theme">
                <div class="news-review__themelabel">Новости по теме: </div>
                <div class="news-review__themeitem"><a href="#">  Тесты шин </a> </div>
            </div>
            <div class="news-review__theme">
                <div class="news-review__themelabel"> Упоминаемые размеры шин: </div>
                <div class="news-review__themeitem"> <a href="#">   225/45R17 </a> </div>
            </div>

            <div class="news-review__theme">
                <div class="news-review__themelabel"> Упоминаемые модели: </div>
                <div class="news-review__themeitem"></div>
                 <div class="clearfix"></div>
            </div>


            <!-- !!!!!!!!!!!!!!!!!!  сюда надо вставить упоминаемые модели как в разделе легковые шины    -->




        </div>







        <!-- аккардион -->
        <section class="col-md-3 col-sm-4">
            <uib-accordion class="accordion">

                <div uib-accordion-group
                     ng-repeat = "section in newsStructure"
                     class="panel-default"

                     template-url="templates/group-template.html">
                    <uib-accordion-heading>
                        {{section.section}}
                    </uib-accordion-heading>
                    <ul class="list-unstyled">
                        <li  ng-repeat="item in section.subsections">
                            <a ui-sref="home.news.section.subsection({section: section.nameEn, subsection: item.nameEn})" ng-bind="item.name"></a>
                        </li>
                    </ul>
                </div>

            </uib-accordion>
            <article class="news-last">
                <header class="news-last__title">Последние новости</header>
                <ul class="news-last__list list-unstyled">
                    <li class="news-last__item {{insertClassInLastNews(article.sectionName)}}" ng-repeat="article in lastNews | limitTo : 6">

                        <div class="news-last__picture" ng-style="{'background-image':'url('+article.previewPicture+')'}"></div>
                        <div class="news-last__text">
                            <p class="news-last__theme" ng-bind="article.sectionName"></p>
                            <h5 class="news-last__name" ng-bind="article.title"></h5>
                        </div>
                        <a  ui-sref="home.news.section.subsection.article({section: article.sectionNameEn, subsection: article.subsectionNameEn, article: article.title})" class="news-last__cover"></a>
                    </li>
                </ul>
            </article>
        </section>


    </div>
</div>