<div class="container">
    <div class="row">
        <div class="news_list col-sm-8 col-md-9">
            <section class="news-list">
                <div class="news-list__list">

                    <article class="col-md-4 col-sm-6 news-list__item {{insertClass(article.sectionName)}}"
                             dir-paginate = "article in news | itemsPerPage: 6"
                             ng-class="{'news-list__item_reverse': $index%2==1}"
                             current-page = pageIndex
                    >
                        <div class="news-list__teaser">
                            <div class="news-list__picture">
                                <img  class="news-list__image" ng-src="{{article.previewPicture}}">
                                <div class="news-list__overlay"><img src="dest/images/news-cross.png"></div>
                                <a class="news-list__cover" ui-sref="home.news.section.subsection.article({section:article.sectionNameEn,subsection:article.subsectionNameEn,article: article.title})"></a>
                            </div>
                            <div class="news-list__content">
                                <span class="news-list__theme" ng-bind="article.sectionName"></span>
                                <h3 class="news-list__title"><a ui-sref="home.news.section.subsection.article({section:article.sectionNameEn,subsection:article.subsectionNameEn,article: article.title})" ng-bind="article.title"></a></h3>
                                <p class="news-list__text" ng-bind="article.previewText"></p>
                                <p class="news-list__arrow">
                                    <a ui-sref="home.news.section.subsection.article({section:article.sectionNameEn,subsection:article.subsectionNameEn,article: article.title})"><img src="dest/images/news-arrow.png"></a>
                                </p>
                            </div>
                        </div>

                    </article>

                    <div class="clearfix"></div>

                </div>
                <dir-pagination-controls on-page-change="savePageIndex(newPageNumber)"></dir-pagination-controls>
            </section>




        </div>


        <aside class="col-md-3 col-sm-4">

            <uib-accordion class="accordion">

                <div uib-accordion-group
                     ng-repeat = "section in newsStructure"
                     class="panel-default"

                     template-url="templates/group-template.html">
                    <uib-accordion-heading>
                       {{section.section}}
                    </uib-accordion-heading>
                    <ul class="list-unstyled">
                        <li  ng-repeat="item in section.subsections">
                            <a ui-sref="home.news.section.subsection({section: section.nameEn, subsection: item.nameEn})" ng-bind="item.name"></a>
                        </li>
                    </ul>
                </div>

            </uib-accordion>



            <article class="news-last">
                <header class="news-last__title">Последние новости</header>
                <ul class="news-last__list list-unstyled">
                    <li class="news-last__item">
                        <div class="news-last__picture" style="background-image: url(dest/images/home-grid-01.jpg)"></div>
                        <div class="news-last__text">
                            <p class="news-last__theme">Обзор</p>
                            <h5 class="news-last__name">Какой дефицит префицита?</h5>
                        </div>
                        <a href="#" class="news-last__cover"></a>
                    </li>
                    <li class="news-last__item">
                        <div class="news-last__picture" style="background-image: url(dest/images/home-grid-01.jpg)"></div>
                        <div class="news-last__text">
                            <p class="news-last__theme">Обзор</p>
                            <h5 class="news-last__name">Какой дефицит префицита?</h5>
                        </div>
                        <a href="#" class="news-last__cover"></a>
                    </li>
                    <li class="news-last__item news-last__item_info">
                        <div class="news-last__picture" style="background-image: url(dest/images/home-grid-01.jpg)"></div>
                        <div class="news-last__text">
                            <p class="news-last__theme">Все о шинах</p>
                            <h5 class="news-last__name">Какой дефицит префицита?</h5>
                        </div>
                        <a href="#" class="news-last__cover"></a>
                    </li>
                    <li class="news-last__item">
                        <div class="news-last__picture" style="background-image: url(dest/images/home-grid-01.jpg)"></div>
                        <div class="news-last__text">
                            <p class="news-last__theme">Обзор</p>
                            <h5 class="news-last__name">Какой дефицит префицита?</h5>
                        </div>
                        <a href="#" class="news-last__cover"></a>
                    </li>
                    <li class="news-last__item news-last__item_test">
                        <div class="news-last__picture" style="background-image: url(dest/images/home-grid-01.jpg)"></div>
                        <div class="news-last__text">
                            <p class="news-last__theme">Тест</p>
                            <h5 class="news-last__name">Какой дефицит префицита?</h5>
                        </div>
                        <a href="#" class="news-last__cover"></a>
                    </li>
                    <li class="news-last__item news-last__item_news">
                        <div class="news-last__picture" style="background-image: url(dest/images/home-grid-01.jpg)"></div>
                        <div class="news-last__text">
                            <p class="news-last__theme">Новости</p>
                            <h5 class="news-last__name">Какой дефицит префицита?</h5>
                        </div>
                        <a href="#" class="news-last__cover"></a>
                    </li>
                </ul>
            </article>

            <!--<div class="news__menu-block">

                <div class="news__menu-block">

                    <ul class="news__menu">

                        <li class="is-active"> &lt;!&ndash; когда открыта статья активного раздела &ndash;&gt;
                            <a class="news__menu-title"  href="#"> Тесты и обзоры шин  </a>
                            <ul>
                                <li> <a href="#">Тесты и обзоры шин  </a></li>
                                <li> <a class="active-li" href="#">Тесты и обзоры шин  </a></li>
                                <li> <a href="#">Тесты и обзоры шин  </a></li>
                                <li> <a href="#">Тесты и обзоры шин  </a></li>
                            </ul>
                        </li>


                        <li class="">
                            <a class="news__menu-title"  href="#">Все о шинах</a>
                            <ul>
                                <li>  <a  href="#">Все о шинах</a></li>
                                <li>  <a  href="#">Все о шинах</a></li>
                                <li> <a  href="#">Все о шинах</a></li>
                                <li>  <a  href="#">Все о шинах</a></li>
                            </ul>
                        </li>


                        <li class="">
                            <a class="news__menu-title"  href="#">Новости</a>
                            <ul>
                                <li>  <a href="#">Новые автомобили</a></li>
                                <li>  <a href="#">Награды и достижения </a></li>
                                <li>  <a href="#">Новости</a></li>
                                <li>  <a href="#">Новости</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>-->

            <!--<div class="list-block">
                <div class="list-block__header">Лента новостей</div>
                <div class="list-block__content">

                    <div class="list-block__item">
                        <div class="list-block__item-postdate">  <span> 30.09.2016</span> </div>
                        <div class="list-block__item-tittle">
                            <a href="#">
                                Bridgestone Dueler A/T 001 презентуют в Париже на Auto Show 2016 Источник: https://prokoleso.ua/tests
                            </a>
                        </div>
                    </div>
                    <div class="list-block__item">
                        <div class="list-block__item-postdate">  <span> 30.09.2016</span> </div>
                        <div class="list-block__item-tittle">
                            <a href="#">
                                Bridgestone Dueler A/T 001 презентуют в Париже на Auto Show 2016 Источник: https://prokoleso.ua/tests
                            </a>
                        </div>
                    </div>
                    <div class="list-block__item">
                        <div class="list-block__item-postdate"> <span> 30.09.2016</span> </div>
                        <div class="list-block__item-tittle">
                            <a href="#">
                                Bridgestone Dueler A/T 001 презентуют в Париже на Auto Show 2016 Источник: https://prokoleso.ua/tests
                            </a>
                        </div>
                    </div>
                    <div class="list-block__item">
                        <div class="list-block__item-postdate">  <span> 30.09.2016</span> </div>
                        <div class="list-block__item-tittle">
                            <a href="#">
                                Bridgestone Dueler A/T 001 презентуют в Париже на Auto Show 2016 Источник: https://prokoleso.ua/tests
                            </a>
                        </div>
                    </div>
                </div>
            </div>-->


        </aside>

    </div>
</div>