<div class="container">
    <div class="row">
        <div class="news_list col-sm-8 col-md-9">
            <section class="news-list">
                <div class="news-list__list">

                    <article class="col-md-4 col-sm-6 news-list__item {{insertClass(article.sectionName)}}"
                             dir-paginate = "article in news | filter: search | itemsPerPage:6"
                             ng-class="{'news-list__item_reverse': $index%2==1}"

                    >

                        <div class="news-list__teaser">
                            <div class="news-list__picture">
                                <img  class="news-list__image" ng-src="{{article.previewPicture}}">
                                <div class="news-list__overlay"><img src="dest/images/news-cross.png"></div>
                                <a class="news-list__cover" ui-sref="home.news.section.subsection.article({section:article.sectionNameEn,subsection:article.subsectionNameEn,article: article.title})"></a>
                            </div>
                            <div class="news-list__content">
                                <span ng-hide="search.sectionNameEn" class="news-list__theme" ng-bind="article.sectionName"></span>
                                <h3 class="news-list__title"><a ui-sref="home.news.section.subsection.article({section:article.sectionNameEn,subsection:article.subsectionNameEn,article: article.title})" ng-bind="article.title"></a></h3>
                                <p class="news-list__text" ng-bind="article.previewText"></p>
                                <p class="news-list__arrow">
                                    <a ui-sref="home.news.section.subsection.article({section:article.sectionNameEn,subsection:article.subsectionNameEn,article: article.title})"><img src="dest/images/news-arrow.png"></a>
                                </p>
                            </div>
                        </div>

                    </article>

                    <div class="clearfix"></div>

                </div>
                <dir-pagination-controls on-page-change="savePageIndex(newPageNumber)"></dir-pagination-controls>
            </section>
        </div>
        <section class="col-md-3 col-sm-4">
            <uib-accordion class="accordion">

                <div uib-accordion-group
                     ng-repeat = "section in newsStructure"
                     class="panel-default"

                     template-url="templates/group-template.html">
                    <uib-accordion-heading>
                        {{section.section}}
                    </uib-accordion-heading>
                    <ul class="list-unstyled">
                        <li  ng-repeat="item in section.subsections">
                            <a ui-sref="home.news.section.subsection({section: section.nameEn, subsection: item.nameEn})" ng-bind="item.name"></a>
                        </li>
                    </ul>
                </div>

            </uib-accordion>
            <article class="news-last">
                <header class="news-last__title">Последние новости</header>
                <ul class="news-last__list list-unstyled">
                    <li class="news-last__item {{insertClassInLastNews(article.sectionName)}}" ng-repeat="article in lastNews | limitTo : 6">

                        <div class="news-last__picture" ng-style="{'background-image':'url('+article.previewPicture+')'}"></div>
                        <div class="news-last__text">
                            <p class="news-last__theme" ng-bind="article.sectionName"></p>
                            <h5 class="news-last__name" ng-bind="article.title"></h5>
                        </div>
                        <a  ui-sref="home.news.section.subsection.article({section: article.sectionNameEn, subsection: article.subsectionNameEn, article: article.title})" class="news-last__cover"></a>
                    </li>
                </ul>
            </article>
        </section>
    </div>
</div>