<section class="container">
    <h2>Оплата</h2>
    <p>Заказы в интернет-магазине 4k.by можно оплатить следующими способами:</p>
    <section class="oplata">
        <section class="oplata__item col-sm-6 col-md-3">
            <img class="oplata__image" src="dest/images/oplata-cash.png">
            <p class="oplata__description"><strong>Наличными</strong> в пунктах выдачи товара в момент получения заказа.</p>
        </section>
        <section class="oplata__item col-sm-6 col-md-3">
            <img class="oplata__image" src="dest/images/oplata-credit-card.png">
            <p class="oplata__description"><strong>Пластиковой картой</strong> в пунктах выдачи товара в момент получения заказа (оплата в белорусских рублях пластиковой карточкой Visa, MasterCard, Maestro, БелКарт)</p>
        </section>
        <section class="oplata__item col-sm-6 col-md-3">
            <img class="oplata__image" src="dest/images/oplata-bank.png">
            <p class="oplata__description">Через <strong>кассу</strong> любого банка.</p>
        </section>
        <section class="oplata__item col-sm-6 col-md-3">
            <img class="oplata__image" src="dest/images/oplata-bank.png">
            <p class="oplata__description"><strong>Безналичный расчёт</strong> (для юридических лиц).</p>
        </section>
        <section class="clearfix"></section>
    </section>
    <h2>Доставка</h2>
    <p>Интернет-магазин 4k.by осуществляет один из вариантов доставки:</p>
    <section class="oplata oplata__dostavka">
        <section class="oplata__item col-sm-4">
            <img class="oplata__image" src="dest/images/dostavka-cart.png">
            <h4 class="oplata__description"><strong>Бесплатная</strong> доставка на пункт выдачи</h4>
            <p class="oplata__description"><strong>Срок доставки:</strong> в день заказа</p>
            <ul class="oplata__description"><strong>Преимущества:</strong>
                <li>Доставка бесплатная вне зависимости от суммы заказа.</li>
                <li>Отсутствие предоплаты. Оплата непосредственно в момент получения товара.</li>
            </ul>
        </section>
        <section class="oplata__item col-sm-4">
            <img class="oplata__image" src="dest/images/dostavka-city.png">
            <h4 class="oplata__description">Доставка <strong>по Минску</strong></h4>
            <p class="oplata__description"><strong>Срок доставки:</strong> 1 день</p>
            <ul class="oplata__description"><strong>Преимущества:</strong>
                <li>Услуга бесплатна для любой суммы заказа.</li>
            </ul>
            <ul class="oplata__description"><strong>Особенности:</strong>
                <li>Оплата производится при получении товара наличными или банковской пластиковой карточкой.</li>
                <li>Доставка осуществляется с понедельника по пятницу с 10 00 до 18 00. В день доставки водитель с вами обязательно свяжется для согласования времени доставки.</li>
            </ul>

        </section>
        <section class="oplata__item col-sm-4">
            <img class="oplata__image" src="dest/images/dostavka-town.png">
            <h4 class="oplata__description">Доставка <strong>по Беларуси</strong></h4>
            <p class="oplata__description"><strong>Срок доставки:</strong> 1-2 дня</p>
            <ul class="oplata__description"><strong>Преимущества:</strong>
                <li>Доставка осуществляется по всей Республике Беларусь транспортной компанией.</li>
            </ul>
            <ul class="oplata__description"><strong>Особенности:</strong>
                <li>Оплата производится при получении товара наличными или банковской пластиковой карточкой.</li>
                <li>Доставка товара осуществляется по 100% предоплате за товар.</li>
                <li>Стоимость доставки - 100 000 бел.руб. (10 бел.руб.)</li>
                <li>Доставка осуществляется с понедельника по пятницу с 10 00 до 18 00. В день доставки водитель с вами обязательно свяжется для согласования времени доставки.</li>
            </ul>
        </section>
        <div class="clearfix"></div>
    </section>
</section>