<section class="container search">
    <form name="searchForm" class="search-modal">
        <div class="col-sm-7">
            <input ng-model="search.text" type="text" class="search-modal__input form-control" placeholder="Искать...">
        </div>
        <div class="col-sm-4">
            <div class="select__wrapper">
                <label class="tab1__label">
                    <span class="select__label search-modal__label" ng-hide="search.theme">Где искать?</span>
                    <select ng-model="search.theme" class="form-control select search-modal__theme">
                        <option value="all">Везде</option>
                        <option value="article">Статья</option>
                        <option value="tire">Шина</option>
                        <option value="size">Типоразмер</option>
                        <option value="car">Автомобиль</option>
                    </select>
                </label>
            </div>

        </div>
        <div class="col-sm-1">
            <button class="btn btn-primary search-modal__button form-control" ng-click="search();">
                <i class="glyphicon glyphicon-search"></i>
                <span class="hidden-lg hidden-md hidden-sm">Искать</span>
            </button>
        </div>
        <div class="clearfix"></div>
    </form>
    <section class="search__results">
        <div dir-paginate = "result in results | itemsPerPage: 6">
            <div ng-switch="result.searchSection">
                <article class="search__item" ng-switch-when="tire">
                    <section class="row">
                        <section class="col-xs-3 col-sm-2"><img class="search__picture" src="dest/images/bridgestone1.png"></section>
                        <section class="col-xs-9 col-sm-10">
                            <p class="search__section">Легковые шины</p>
                            <h3 class="#"><a href="">Michelin Latitude Sport AO</a></h3>
                            <p style="clear:both">... пятно контакта. Данная модель рекомендована для установки на автомобили марки Audi.</p>
                        </section>
                    </section>
                </article>
                <article class="search__item search__item_car row" ng-switch-when="car">
                    <section class="row">
                        <section class="col-xs-12 col-sm-9">
                            <a href="">
                                <span ng-bind="result.brand"></span>&nbsp;
                                <span ng-bind="result.model"></span>&nbsp;
                                <span ng-bind="result.year"></span>&nbsp;
                                <span ng-bind="result.modification"></span>
                            </a>
                        </section>
                        <section class="col-sm-3 hidden-xs">
                            <span class="pull-right">Автомобиль</span>
                        </section>
                    </section>

                </article>
                <article class="search__item" ng-switch-when="article">
                    <section class="row">
                        <section class="col-xs-3 col-sm-2"><img class="search__picture" src="dest/images/bridgestone1.png"></section>
                        <section class="col-xs-9 col-sm-10">
                            <p class="search__section">Легковые шины</p>
                            <h3 class="#"><a href="">Michelin Latitude Sport AO</a></h3>
                            <p style="clear:both">... пятно контакта. Данная модель рекомендована для установки на автомобили марки Audi.</p>
                        </section>
                    </section>
                </article>
                <article class="search__item" ng-switch-when="size">
                    <section class="row">
                        <section class="col-xs-3 col-sm-2"><img class="search__picture" src="dest/images/bridgestone1.png"></section>
                        <section class="col-xs-9 col-sm-10">
                            <p class="search__section">Легковые шины</p>
                            <h3 class="#"><a href="">Michelin Latitude Sport AO</a></h3>
                            <p style="clear:both">... пятно контакта. Данная модель рекомендована для установки на автомобили марки Audi.</p>
                        </section>
                    </section>
                </article>
                <div class="clearfix"></div>
            </div>
        </div>


        <dir-pagination-controls></dir-pagination-controls>
    </section>
</section>