<div>
    <div class="tabs-tires">
        <div class="tabs-tires__header">
            <div class="tabs-tires__heading hidden-sm hidden-md hidden-lg">
                <div class="container">
                    {{tabs[active].title}}
                </div>
            </div>
            <div class="container tabs-tires__list">
                <ul ng-repeat = "tab in tabs" class="tabs-tires__tabs">
                    <li class="tabs-tires__tab" ng-class="{active: active === $index}">
                        <a ng-click="changeActive($index)" class="hidden-sm hidden-lg hidden-md" href="#" ng-style="{'background-image':'url(dest/images/'+($index+1)+'.png)'}">

                            <span></span>
                        </a>
                        <a href ng-click="changeActive($index)" class="tabs-tires__anchor hidden-xs">{{tab.title}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tabs-tires__content">
            <div class="container tab-content">

                <div ng-repeat="tab in tabs"
                     ng-class="{active: active === $index}">
                    <div bind-html-compile="tab.content"><!--sce.trustAsHtml(tab.content)-->

                    </div>

                </div>
            </div>
        </div>

    </div>


</div>