<div class="container" >
    <section class="submenu__content">
        <ul class="list-inline hidden-xs" >

            <li class="col-sm-4">
                <h4 class="footer__subtitle"><a href="#">Тесты и обзоры шин</a></h4>
                <ul class="list-unstyled" style="text-align: left">
                    <li><a href="#">Тесты зимних шин</a></li>
                    <li><a href="#">Тесты летних шин</a></li>
                    <li><a href="#">Обзоры зимних шин</a></li>
                    <li><a href="#">Обзоры летних шин</a></li>
                </ul>
            </li>
            <li class="col-sm-4">
                <h4 class="footer__subtitle"><a href="#">Все о шинах</a></h4>
                <ul class="list-unstyled">
                    <li><a href="#/tires">Справочная информация</a></li>
                    <li><a href="#">Технологии и инновации</a></li>
                    <li><a href="#">Аналитика и статистика</a></li>
                    <li><a href="#">Рекомендации и советы</a></li>
                    <li><a href="#">Производство шин и комплектация</a></li>
                    <li><a href="#">Истории создания брендов</a></li>
                </ul>
            </li>
            <li class="col-sm-4">
                <h4 class="footer__subtitle"><a href="#">Новости</a></h4>
                <ul class="list-unstyled">
                    <li><a href="#">Новинки шинного рынка</a></li>
                    <li><a href="#">Новые автомобили</a></li>
                    <li><a href="#">Происшествия и события</a></li>
                    <li><a href="#">В мире спорта</a></li>
                    <li><a href="#">Акции и PR-компании</a></li>
                    <li><a href="#">Награды и достижения</a></li>
                    <li><a href="#">Кадровые изменения</a></li>
                </ul>
            </li>

        </ul>
    </section>
</div>