<div class="container" >
    <section class="submenu__content">
        <ul class="list-inline hidden-xs" >

            <li class="col-sm-4">
                <h4 class="footer__subtitle"><a href="#">Для покупателя</a></h4>
                <ul class="list-unstyled" style="text-align: left">
                    <li><a href="#">Оплата и доставка</a></li>
                    <li><a href="#">Гарантия и шины</a></li>
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </li>
            <li class="col-sm-4">
                <h4 class="footer__subtitle"><a href="#">Каталог шин и дисков</a></h4>
                <ul class="list-unstyled">
                    <li><a href="#">Легковые шины</a></li>
                    <li><a href="#">Легковесные диски</a></li>
                    <li><a href="#">Грузовые шины</a></li>
                </ul>
            </li>
            <li class="col-sm-4">
                <h4 class="footer__subtitle"><a href="#">Услуги и сервис</a></h4>
                <ul class="list-unstyled">
                    <li><a href="#">Шинные центры</a></li>
                    <li><a href="#">Запись на шиномонтаж</a></li>
                    <li><a href="#">Онлайн подбор шин</a></li>
                    <li><a href="#">Онлайн подбор дисков</a></li>
                    <li><a href="#">Подбор шин по авто</a></li>
                </ul>
            </li>

        </ul>
    </section>
</div>