<nav class="breadcrumbs">
    <div class="container">
        <ul class="breadcrumbs__list list-inline">
            <li class="breadcrumbs__item"><a href="#">Главная</a></li>
            <li class="breadcrumbs__item"><a href="#">Легковые шины</a></li>
        </ul>
    </div>
</nav>

<article>
<header class="page-title">
    <div class="container">
        <h1>Шины 185/55R15</h1>
    </div>
</header>
<nav class="view-settings">
    <div class="container">
        <form class="form-inline row">
            <div class="form-group col-sm-6">
                <label for="goods_sort" class="view-settings__label">Cортировка:</label>
                <select class="form-control view-settings__label" id="goods_sort">
                    <option>Плитка</option>
                    <option>Список</option>
                </select>
            </div>
            <div class="form-group col-sm-6 text-right hidden-xs">
                <label for="goods_view" class="view-settings__label">Вид списка:</label>
                <select class="form-control view-settings__label" id="goods_view">
                    <option>Плитка</option>
                    <option>Список</option>
                </select>
            </div>
        </form>

    </div>
</nav>
<section class="hidden">
<article class="model container">
    <div class="row">
        <section class="col-sm-3 model__left">
            <img src="dest/images/model-image-1.png" class="model__picture">
            <img src="dest/images/season-winter.png" class="model__season">
        </section>
        <section class="col-sm-9 model__right">
            <div class="row">
                <section class="col-sm-6">
                    <img src="dest/images/brand_bridgestone.png">
                    <h2 class="model__title"><a href="#">Bridgestone Blizzak VRX</a></h2>
                    <p class="model__characteristic">Размер: <span>185/55R15</span></p>
                    <p class="model__characteristic">Индекс нагрузки: <span>82 (475 кг)</span></p>
                    <p class="model__characteristic">Индекс скорости: <span>S (180 км/ч)</span></p>
                    <p class="model__characteristic">Шипованная: <span>шип.</span></p>
                    <p class="model__characteristic">Страна производства: <span>Япония</span></p>
                </section>
                <section class="col-sm-6">
                    <section class="model__advantages">
                        <div class="row model__advantage">
                            <div class="col-sm-3 col-md-2" >
                                <img src="dest/images/adv1.png">
                            </div>
                            <div class="col-sm-9 col-md-10">
                                <p><strong>Полная гарантия от Bridgestone</strong></p>
                                <p>при покупке от двух шин</p>
                            </div>
                        </div>
                        <div class="row model__advantage">
                            <div class="col-sm-3 col-md-2" >
                                <img src="dest/images/adv2.png">
                            </div>
                            <div class="col-sm-9 col-md-10">
                                <p><strong>Гарантия производителя</strong></p>
                                <p>заводская гарантия 5 лет</p>
                            </div>
                        </div>
                        <div class="row model__advantage">
                            <div class="col-sm-3 col-md-2">
                                <img src="dest/images/adv3.png">
                            </div>
                            <div class="col-sm-9 col-md-10">
                                <p><strong>Отправка в течение 24 часов</strong></p>
                                <p>с собственного склада</p>
                            </div>
                        </div>
                    </section>
                    <section class="model__buy">
                        <section class="model__price">50 р.</section>
                        <section class="row">
                            <section class="col-sm-7 col-md-6">
                                <button class="btn btn-reverse model__quantity-btn"><i class="glyphicon glyphicon-minus"></i></button>
                                <input type="text" class="form-control model__quantity">
                                <button class="btn btn-reverse model__quantity-btn"><i class="glyphicon glyphicon-plus"></i></button>
                            </section>
                            <section class="col-sm-5 col-md-6">
                                <button class="btn btn-success form-control"><i class="glyphicon glyphicon-shopping-cart"></i> Купить</button>
                            </section>
                        </section>
                        <p class="model__in-stock">Доступно: <span class="model__stockpile">8</span> шт.</p>
                    </section>
                </section>

            </div>
            <section class="model__reviews">
                <ul class="list-inline">
                    <li><span class="model__score">4</span><a href="#">За рулем</a></li>
                    <li><span class="model__score">3</span><a href="#">Авто Центр 2015</a></li>
                </ul>
            </section>
        </section>
    </div>
</article>
<article class="model model_top container">
    <div class="row">
        <section class="col-sm-3 model__left">
            <img src="dest/images/model-image-1.png" class="model__picture">
            <img src="dest/images/season-winter.png" class="model__season">
            <img src="dest/images/hot_0.png" class="model__label hidden-xs">
        </section>
        <section class="col-sm-9 model__right">
            <div class="row">
                <section class="col-sm-6">
                    <img src="dest/images/brand_bridgestone.png">
                    <h2 class="model__title"><a href="#">Bridgestone Blizzak VRX</a></h2>
                    <p class="model__characteristic">Размер: <span>185/55R15</span></p>
                    <p class="model__characteristic">Индекс нагрузки: <span>82 (475 кг)</span></p>
                    <p class="model__characteristic">Индекс скорости: <span>S (180 км/ч)</span></p>
                    <p class="model__characteristic">Шипованная: <span>шип.</span></p>
                    <p class="model__characteristic">Страна производства: <span>Япония</span></p>
                </section>
                <section class="col-sm-6">
                    <section class="model__advantages">
                        <div class="row model__advantage">
                            <div class="col-sm-3 col-md-2" >
                                <img src="dest/images/adv1.png">
                            </div>
                            <div class="col-sm-9 col-md-10">
                                <p><strong>Полная гарантия от Bridgestone</strong></p>
                                <p>при покупке от двух шин</p>
                            </div>
                        </div>
                        <div class="row model__advantage">
                            <div class="col-sm-3 col-md-2" >
                                <img src="dest/images/adv2.png">
                            </div>
                            <div class="col-sm-9 col-md-10">
                                <p><strong>Гарантия производителя</strong></p>
                                <p>заводская гарантия 5 лет</p>
                            </div>
                        </div>
                        <div class="row model__advantage">
                            <div class="col-sm-3 col-md-2">
                                <img src="dest/images/adv3.png">
                            </div>
                            <div class="col-sm-9 col-md-10">
                                <p><strong>Отправка в течение 24 часов</strong></p>
                                <p>с собственного склада</p>
                            </div>
                        </div>
                    </section>
                    <section class="model__buy">
                        <section class="model__price">50 р.</section>
                        <section class="row">
                            <section class="col-sm-7 col-md-6">
                                <button class="btn btn-reverse model__quantity-btn"><i class="glyphicon glyphicon-minus"></i></button>
                                <input type="text" class="form-control model__quantity">
                                <button class="btn btn-reverse model__quantity-btn"><i class="glyphicon glyphicon-plus"></i></button>
                            </section>
                            <section class="col-sm-5 col-md-6">
                                <button class="btn btn-success form-control"><i class="glyphicon glyphicon-shopping-cart"></i> Купить</button>
                            </section>
                        </section>
                        <p class="model__in-stock">Доступно: <span class="model__stockpile">8</span> шт.</p>
                    </section>
                </section>

            </div>
            <section class="model__reviews">
                <ul class="list-inline">
                    <li><span class="model__score">4</span><a href="#">За рулем</a></li>
                    <li><span class="model__score">3</span><a href="#">Авто Центр 2015</a></li>
                </ul>
            </section>
        </section>
    </div>
</article>
<article class="model model_new container">
    <div class="row">
        <section class="col-sm-3 model__left">
            <img src="dest/images/model-image-1.png" class="model__picture">
            <img src="dest/images/season-winter.png" class="model__season">
            <img src="dest/images/new-model.png" class="model__label hidden-xs">
        </section>
        <section class="col-sm-9 model__right">
            <div class="row">
                <section class="col-sm-6">
                    <img src="dest/images/brand_bridgestone.png">
                    <h2 class="model__title"><a href="#">Bridgestone Blizzak VRX</a></h2>
                    <p class="model__characteristic">Размер: <span>185/55R15</span></p>
                    <p class="model__characteristic">Индекс нагрузки: <span>82 (475 кг)</span></p>
                    <p class="model__characteristic">Индекс скорости: <span>S (180 км/ч)</span></p>
                    <p class="model__characteristic">Шипованная: <span>шип.</span></p>
                    <p class="model__characteristic">Страна производства: <span>Япония</span></p>
                </section>
                <section class="col-sm-6">
                    <section class="model__advantages">
                        <div class="row model__advantage">
                            <div class="col-sm-3 col-md-2" >
                                <img src="dest/images/adv1.png">
                            </div>
                            <div class="col-sm-9 col-md-10">
                                <p><strong>Полная гарантия от Bridgestone</strong></p>
                                <p>при покупке от двух шин</p>
                            </div>
                        </div>
                        <div class="row model__advantage">
                            <div class="col-sm-3 col-md-2" >
                                <img src="dest/images/adv2.png">
                            </div>
                            <div class="col-sm-9 col-md-10">
                                <p><strong>Гарантия производителя</strong></p>
                                <p>заводская гарантия 5 лет</p>
                            </div>
                        </div>
                        <div class="row model__advantage">
                            <div class="col-sm-3 col-md-2">
                                <img src="dest/images/adv3.png">
                            </div>
                            <div class="col-sm-9 col-md-10">
                                <p><strong>Отправка в течение 24 часов</strong></p>
                                <p>с собственного склада</p>
                            </div>
                        </div>
                    </section>
                    <section class="model__buy">
                        <section class="model__price">50 р.</section>
                        <section class="row">
                            <section class="col-sm-7 col-md-6">
                                <button class="btn btn-reverse model__quantity-btn"><i class="glyphicon glyphicon-minus"></i></button>
                                <input type="text" class="form-control model__quantity">
                                <button class="btn btn-reverse model__quantity-btn"><i class="glyphicon glyphicon-plus"></i></button>
                            </section>
                            <section class="col-sm-5 col-md-6">
                                <button class="btn btn-success form-control"><i class="glyphicon glyphicon-shopping-cart"></i> Купить</button>
                            </section>
                        </section>
                        <p class="model__in-stock">Доступно: <span class="model__stockpile">8</span> шт.</p>
                    </section>
                </section>

            </div>
            <section class="model__reviews">
                <ul class="list-inline">
                    <li><span class="model__score">4</span><a href="#">За рулем</a></li>
                    <li><span class="model__score">3</span><a href="#">Авто Центр 2015</a></li>
                </ul>
            </section>
        </section>
    </div>
</article>
</section>
<section class="container" style="padding: 0">
    <div class="col-lg-3 col-md-4 col-sm-6 model-card__wrapper">
        <article class="model-card model-card_new">
            <p><img src="dest/images/brand_bridgestone.png"></p>
            <a href="#" class="model-card__title">Bridgestone Blizzak VRX</a>
            <p class="model__characteristic"><span>185/55R15</span> <span>82 (475 кг)</span> <span>S (180 км/ч)</span> <span>шип.</span></p>
            <section class="model-card__picture">
                <img src="dest/images/model-image-1.png" class="model__picture">
                <img src="dest/images/season-winter.png" class="model__season">
                <section class="model-card__reviews">

                    <ul class="list-inline">
                        <li class="col-xs-6"><span class="model__score">4</span><a href="#">За рулем</a></li>
                        <li class="col-xs-6"><span class="model__score">3</span><a href="#">Авто Центр 2015</a></li>
                    </ul>


                </section>
            </section>
            <section class="model-card__scorebox">
                <a href="#">отзывы(20)</a>
            </section>
            <section class="model-card__pricebox">
                <section class="model__price">50 р.</section>
                <section class="row">
                    <section class="col-sm-7 col-md-7">
                        <button class="btn btn-reverse model__quantity-btn"><i class="glyphicon glyphicon-minus"></i></button>
                        <input type="text" class="form-control model__quantity">
                        <button class="btn btn-reverse model__quantity-btn"><i class="glyphicon glyphicon-plus"></i></button>
                    </section>
                    <section class="col-sm-5 col-md-5">
                        <button class="btn btn-success form-control"><i class="glyphicon glyphicon-shopping-cart"></i> Купить</button>
                    </section>
                </section>
                <p class="model__in-stock">Доступно: <span class="model__stockpile">8</span> шт.</p>
            </section>
        </article>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 model-card__wrapper">
        <article class="model-card model-card_top">
            <p><img src="dest/images/brand_bridgestone.png"></p>
            <a href="#" class="model-card__title">Bridgestone Blizzak VRX</a>
            <p class="model__characteristic"><span>185/55R15</span> <span>82 (475 кг)</span> <span>S (180 км/ч)</span> <span>шип.</span></p>
            <section class="model-card__picture">
                <img src="dest/images/model-image-1.png" class="model__picture">
                <img src="dest/images/season-winter.png" class="model__season">
            </section>
            <section class="model-card__scorebox">
                <a href="#">отзывы(20)</a>
            </section>
            <section class="model-card__pricebox">
                <section class="model__price">50 р.</section>
                <section class="row">
                    <section class="col-sm-7 col-md-7">
                        <button class="btn btn-reverse model__quantity-btn"><i class="glyphicon glyphicon-minus"></i></button>
                        <input type="text" class="form-control model__quantity">
                        <button class="btn btn-reverse model__quantity-btn"><i class="glyphicon glyphicon-plus"></i></button>
                    </section>
                    <section class="col-sm-5 col-md-5">
                        <button class="btn btn-success form-control"><i class="glyphicon glyphicon-shopping-cart"></i> Купить</button>
                    </section>
                </section>
                <p class="model__in-stock">Доступно: <span class="model__stockpile">8</span> шт.</p>
            </section>
        </article>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 model-card__wrapper">
        <article class="model-card">
            <p><img src="dest/images/brand_bridgestone.png"></p>
            <a href="#" class="model-card__title">Bridgestone Blizzak VRX</a>
            <p class="model__characteristic"><span>185/55R15</span> <span>82 (475 кг)</span> <span>S (180 км/ч)</span> <span>шип.</span></p>
            <section class="model-card__picture">
                <img src="dest/images/model-image-1.png" class="model__picture">
                <img src="dest/images/season-winter.png" class="model__season">
            </section>
            <section class="model-card__scorebox">
                <a href="#">отзывы(20)</a>
            </section>
            <section class="model-card__pricebox">
                <section class="model__price">50 р.</section>
                <section class="row">
                    <section class="col-sm-7 col-md-7">
                        <button class="btn btn-reverse model__quantity-btn"><i class="glyphicon glyphicon-minus"></i></button>
                        <input type="text" class="form-control model__quantity">
                        <button class="btn btn-reverse model__quantity-btn"><i class="glyphicon glyphicon-plus"></i></button>
                    </section>
                    <section class="col-sm-5 col-md-5">
                        <button class="btn btn-success form-control"><i class="glyphicon glyphicon-shopping-cart"></i> Купить</button>
                    </section>
                </section>
                <p class="model__in-stock">Доступно: <span class="model__stockpile">8</span> шт.</p>
            </section>
        </article>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 model-card__wrapper">
        <article class="model-card">
            <p><img src="dest/images/brand_bridgestone.png"></p>
            <a href="#" class="model-card__title">Bridgestone Blizzak VRX</a>
            <p class="model__characteristic"><span>185/55R15</span> <span>82 (475 кг)</span> <span>S (180 км/ч)</span> <span>шип.</span></p>
            <section class="model-card__picture">
                <img src="dest/images/model-image-1.png" class="model__picture">
                <img src="dest/images/season-winter.png" class="model__season">
            </section>
            <section class="model-card__scorebox">
                <a href="#">отзывы(20)</a>
            </section>
            <section class="model-card__pricebox">
                <section class="model__price">50 р.</section>
                <section class="row">
                    <section class="col-sm-7 col-md-7">
                        <button class="btn btn-reverse model__quantity-btn"><i class="glyphicon glyphicon-minus"></i></button>
                        <input type="text" class="form-control model__quantity">
                        <button class="btn btn-reverse model__quantity-btn"><i class="glyphicon glyphicon-plus"></i></button>
                    </section>
                    <section class="col-sm-5 col-md-5">
                        <button class="btn btn-success form-control"><i class="glyphicon glyphicon-shopping-cart"></i> Купить</button>
                    </section>
                </section>
                <p class="model__in-stock">Доступно: <span class="model__stockpile">8</span> шт.</p>
            </section>
        </article>
    </div>
</section>
</article>