<section class="col-sm-6 col-lg-offset-4 col-lg-4">
    <div class="select__wrapper tab3__input">
        <label class="tab1__select">
            <span class="select__label" ng-show="!brand">Бренд</span>
            <select ng-model="brand" class="form-control select ">
                <option ng-repeat="brand in brands">
                    {{brand}}
                </option>

            </select>
        </label>
    </div>
</section>
<section class="col-sm-6 col-lg-4" ng-show="models.length==1">
    <div class="form-group tab3__input">
        <input type="text" class = "form-control" ng-value = "model" readonly>
    </div>

</section>
<section class="col-sm-6 col-lg-4" ng-hide="models.length==1">
    <div class="select__wrapper tab3__input">
        <label class="tab1__select">
            <span class="select__label" ng-show="!model">Модель</span>
            <select ng-model="model" class="form-control select" ng-disabled="!models">
                <option ng-repeat = "model in models">{{model}}</option>
            </select>
        </label>
    </div>
</section>
<section class="col-sm-6 col-lg-offset-4 col-lg-4" ng-show="years.length==1">
    <div class="form-group tab3__input">
        <input type="text" class = "form-control" ng-value = "year" readonly>
    </div>
</section>
<section class="col-sm-6 col-lg-offset-4 col-lg-4" ng-hide="years.length==1">
    <div class="select__wrapper tab3__input ">
        <label class="tab1__select">
            <span class="select__label" ng-show="!year">Год</span>
            <select ng-model="year" class="form-control select" ng-disabled="!years">
                <option ng-repeat = "year in years">{{year}}</option>
            </select>
        </label>
    </div>
</section>
<section class="col-sm-6 col-lg-4" ng-show="modifications.length==1">
    <div class="form-group tab3__input">
        <input type="text" class = "form-control" ng-value = "modification" readonly>
    </div>
</section>
<section class="col-sm-6 col-lg-4" ng-hide="modifications.length==1">
    <div class="select__wrapper tab3__input">
        <label class="tab1__select">
            <span class="select__label" ng-show="!modification">Модификация</span>
            <select ng-model="modification" class="form-control select" ng-disabled="!modifications">
                <option ng-repeat = "modification in modifications">{{modification}}</option>
            </select>
        </label>
    </div>
</section>
<section class="col-sm-6 hidden-xs col-lg-offset-4 col-lg-4">
    <p class="tab3__p">Задайте вопрос специалисту:</p>
    <a class="tab1__phone" href="tel://{{phoneFirst}}" ng-bind="phoneFirst"></a>
</section>
<section class="col-sm-6 col-lg-4">
    <button class="btn btn-warning form-control tab1__button" ng-click="search();">Подобрать</button>
</section>
<div class="clearfix"></div>