<div class="container" >
    <section class="submenu__content tires-rims">
        <div class="submenu__content">
            <ul class="tires-rims__list">
                <li class="tires-rims__item">
                    <a href="#/tires" class="tires-rims__anchor">
                        <img  class="tires-rims__image" src="dest/images/submenu_car.jpg"><br>
                        <span class="tires-rims__text">Легковые машины</span>
                    </a>
                </li>
                <li class="tires-rims__item">
                    <a href="#" class="tires-rims__anchor">
                        <img  class="tires-rims__image" src="dest/images/submenu_rim.jpg"><br>
                        <span class="tires-rims__text">Литые диски</span>
                    </a>
                </li>
                <li class="tires-rims__item">
                    <a href="#" class="tires-rims__anchor">
                        <img  class="tires-rims__image" src="dest/images/submenu_truck.jpg"><br>
                        <span class="tires-rims__text">Грузовые шины</span>
                    </a>
                </li>
                <li class="tires-rims__item">
                    <a href="#" class="tires-rims__anchor">
                        <img  class="tires-rims__image" src="dest/images/warranty-menu-link-bg.png"><br>
                        <span class="tires-rims__text">Гарантия</span>
                    </a>
                </li>
                <li class="tires-rims__item">
                    <a href="#/calculator" class="tires-rims__anchor">
                        <img  class="tires-rims__image" src="dest/images/calculator-menu-link-bg.png"><br>
                        <span class="tires-rims__text">Шинный калькулятор</span>
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </section>
</div>
