<section class="container user">
    <uib-tabset active="index" justified="true">
    <uib-tab index="0">
        <uib-tab-heading>
            <i class="glyphicon glyphicon-user"></i> Личная информация
        </uib-tab-heading>
        <form class="user__section">
            <section class="row user__field">
                <section class="col-sm-2">
                    <label for="userLogin"><span class="user__span-bottom">Имя пользователя:</span></label>
                </section>
                <section class="col-sm-5">
                    <input id="userLogin" required type="text" ng-model="user.login" class="form-control">
                </section>
                <section class="col-sm-5">
                    <span class="user__span-top">Пробелы разрешены; знаки пунктуации запрещены, за исключением точек, тире, апострофов и знаков подчеркивания.</span>
                </section>
                <div class="clearfix"></div>
            </section>
            <section class="row user__field">
                <section class="col-sm-2">
                    <label for="userEmail"><span class="user__span-bottom">E-mail адрес:</span></label>
                </section>
                <section class="col-sm-5">
                    <input id="userEmail" required type="text" ng-model="user.email" class="form-control">
                </section>
                <section class="col-sm-5">
                    <span class="user__span-top">Существующий адрес электронной почты. Все почтовые сообщения с сайта будут отсылаться на этот адрес. Адрес электронной почты не будет публиковаться и будет использован только по вашему желанию: для восстановления пароля или для получения новостей и уведомлений по электронной почте.</span>
                </section>
                <div class="clearfix"></div>
            </section>
            <section class="row user__field">
                <section class="col-sm-2">
                    <label for="userPassword"><span class="user__span-bottom">Пароль:</span></label>
                </section>
                <section class="col-sm-5">
                    <input id="userPassword" type="password " ng-model="user.password" class="form-control">
                </section>
                <section class="col-sm-5">
                    <span class="user__span-top">
                        Введите свой текущий пароль для изменения вашего E-mail или номера телефона. <br>
                        <a href="" ng-click="openModalForget();">Забыли пароль?</a>&nbsp;
                        <a href="" ng-click="openModalChangePassword();">Изменить пароль</a>
                    </span>
                </section>
                <div class="clearfix"></div>
            </section>
            <section class="row user__field">
                <section class="col-sm-2">
                    <label for="userName"><span class="user__span-bottom">Имя:</span></label>
                </section>
                <section class="col-sm-5">
                    <input id="userName" type="text" ng-model="user.name" class="form-control">
                </section>
                <section class="col-sm-5">
                    <span class="user__span-top"></span>
                </section>
                <div class="clearfix"></div>
            </section>
            <section class="row user__field">
                <section class="col-sm-2">
                    <label for="userSurname"><span class="user__span-bottom">Фамилия:</span></label>
                </section>
                <section class="col-sm-5">
                    <input id="userSurname" type="text" ng-model="user.surname" class="form-control">
                </section>
                <section class="col-sm-5">
                    <span class="user__span-top"></span>
                </section>
                <div class="clearfix"></div>
            </section>
            <section class="row user__field">
                <section class="col-sm-2">
                    <label for="userPatronomic"><span class="user__span-bottom">Отчество:</span></label>
                </section>
                <section class="col-sm-5">
                    <input id="userPatronomic" type="text" ng-model="user.patronomic" class="form-control">
                </section>
                <section class="col-sm-5">
                    <span class="user__span-top"></span>
                </section>
                <div class="clearfix"></div>
            </section>
            <section class="row user__field">
                <section class="col-sm-2">
                    <label for="userPhone"><span class="user__span-bottom">Телефон:</span></label>
                </section>
                <section class="col-sm-5">
                    <input id="userPhone" type="text" ng-model="user.phone" class="form-control">
                </section>
                <section class="col-sm-5">
                    <span class="user__span-top"></span>
                </section>
                <div class="clearfix"></div>
            </section>
            <section class="row user__field">
                <section class="col-sm-2">
                    <label for="userAddress"><span class="user__span-bottom">Адрес:</span></label>
                </section>
                <section class="col-sm-5">
                    <input id="userAddress" type="text" ng-model="user.address" class="form-control">
                </section>
                <section class="col-sm-5">
                    <span class="user__span-top"></span>
                </section>
                <div class="clearfix"></div>
            </section>
            <button type="submit" class="btn btn-warning user__save">Сохранить</button>
        </form>
    </uib-tab>
    <uib-tab index="1" >
        <uib-tab-heading>
            <i class="glyphicon glyphicon-shopping-cart"></i> Покупки
        </uib-tab-heading>
        <section class="user__section">
            <section class="container view-settings__show row " style="padding: 0">
                <div class="col-lg-3 col-md-4 col-sm-6 model-card__wrapper" dir-paginate = "tire in user.purchases | itemsPerPage : 12">
                    <article class="model-card">
                        <p class="model-card__logo model-card__brand-left"><a ui-sref="home.tires.brand({brand: tire.brandName})"><img ng-src="{{tire.brandLogo}}"></a></p>
                        <a ui-sref="home.tires.brand.model({brand: tire.brandName, model: tire.name, tab: 'description'})" class="model-card__title" ng-bind="tire.name"></a>
                        <p class="model__characteristic">
                            <span ng-bind="tire.width">185</span>/
                            <span ng-bind="tire.height">55</span>R
                            <span ng-bind="tire.diameter">15</span> <span ng-bind="tire.loadIndex">82 (475 кг)</span> <span ng-bind="tire.speedIndex">S (180 км/ч)</span> <span ng-bind="tire.studded">шип.</span>
                        </p>
                        <section class="model-card__picture">
                            <img ng-src="{{tire.picture}}" class="model__picture">
                            <img ng-src="dest/images/season-{{tire.season}}.png" class="model__season">
                            <span class="model-card__favourite"
                                  ng-class="{'model-card__favourite_selected': user.isModelSelected(tire.name,{width:tire.width, height: tire.height,diameter: tire.diameter})}"
                                  ng-click="user.addToSelected({name:tire.name,brand: tire.brandName, score: tire.score, picture: tire.picture, season: tire.season, size: {width:tire.width, height: tire.height,diameter: tire.diameter}})">
                                <i class="glyphicon glyphicon-heart-empty"></i>
                                <i class="glyphicon glyphicon-heart"></i>
                            </span>
                        </section>
                        <section class="model-card__scorebox">
                            <section class="col-xs-4"><a ui-sref="home.tires.brand.model({brand: tire.brandName, model: tire.name, tab: 'comments'})"><i class="glyphicon glyphicon-comment"></i> {{tire.comments}}</a></section>
                            <section class="col-xs-8">
                                <section class="score-block__score-wrap">
                                    <section class="score-block__score" ng-style="{width:(tire.score | score)}"></section>
                                </section>
                            </section>
                            <section class="clearfix"></section>
                        </section>
                        <section class="model-card__pricebox">
                            <section style="margin: 1em 0 0;">Количество: <span style="position: relative; top: -0.3em;" class="model__price pull-right" ng-bind="tire.amount"></span></section>
                        </section>
                        <div class="clearfix"></div>
                        <section class="model-card__pricebox">
                            <section>Сумма: <span style="position: relative; top: -0.3em;" class="pull-right model__price">&nbsp;р.</span><span style="position: relative; top: -0.3em;" class="model__price pull-right" ng-bind="tire.price*tire.amount"></span></section>
                        </section>
                    </article>
                </div>
                <div class="clearfix"></div>
                <dir-pagination-controls></dir-pagination-controls>
            </section>
        </section>
    </uib-tab>
    <uib-tab index="2" ng-click="changeState('description');" >
        <uib-tab-heading>
            <i class="glyphicon glyphicon-comment"></i> Комментарии
        </uib-tab-heading>
        <section class="user__section">
            <section class="comments" ng-init="showComments()">
                <div>
                     <article class="comment" ng-repeat="comment in user.comments">
                        <div>
                            <section class="comment__left col-xs-3">
                                <p class="comment__date"><small ng-bind="comment.date"></small></p>
                                <section class="score-block__score-wrap comment__score">
                                    <section class="score-block__score" ng-style="{width:(comment.score | score)}"></section>
                                </section>
                                <p class="comment__ok">
                                    Польза отзыва
                                    <span class="comment__yes">Да</span>: <span ng-bind="comment.yes"></span>
                                    <span class="comment__no">Нет</span>: <span ng-bind="comment.no"></span>
                                </p>
                            </section>
                            <section class="comment__right col-xs-9">
                                <h3><a ui-sref="home.tires.brand.model({brand:comment.brand,model:comment.model})" ng-bind="comment.model"></a></h3>
                                <section class="comment__text" ng-bind="comment.text"></section>
                            </section>
                            <div class="clearfix"></div>
                        </div>
                    </article>

                </div>
            </section>
        </section>
    </uib-tab>
    </uib-tabset>
</section>